<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="stats-wrapper"> 

    <!-- Tableaux des statitiques-->

    <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="activeCabinetstat && activeCabinetstat.length > 0">
        <div class="d-flex align-self-center">
          <h6>Resultat en fonction du nombre de bureaux</h6>
        </div>
      </div>

    <div class="d-flex justify-content-center">

      <!-- Data zone -->
        <div class="tab-content">
           <div class="table-responsive">
                  <table class="table table-striped mb-0" *ngIf="activeCabinetstat && activeCabinetstat.length >0">
                    <thead>
                      <tr class="text-muted font-sm">
                        <th scope="col">Domaines d'intervention</th>
                        <th scope="col">Nombre bureaux d'études</th>
                        <th scope="col">Fréquences en %</th>    
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stat of activeCabinetstat;let i=index" (click)="showCurrentsCharts(i)">
                        <td>
                            <span class="font-sm" *ngIf="stat.domaine"> {{stat.domaine.intitule}} </span>
                        </td>
                        <td>
                          <span class="font-sm"  *ngIf="stat"> {{stat.nbre_cabinet_bureau_etude}} </span>
                        </td>
                        <td>
                            <span class="font-sm"  *ngIf="stat"> {{arrondi(stat.pourcentage)}}</span>
                        </td> 
                      </tr>
                    </tbody>
                  </table>
            </div>
         </div>
     </div>



     <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="activeCabinetstatByExperience && activeCabinetstatByExperience.length > 0">
      <div class="d-flex align-self-center">
        <h6>Resultat en fonction de l'expérience</h6>
      </div>
    </div>

    <div class="tab-content">

      <div class="table-responsive">

             <table class="table table-striped mb-0" *ngIf="activeCabinetstatByExperience && activeCabinetstatByExperience.length >0">
               <thead>
                  <tr class="text-muted font-sm">
                    <th scope="col">Domaines d'intervention</th>
                    <th *ngFor="let headerProfil of activeCabinetstatByExperience[0].option" scope="col">{{headerProfil.optionName}}</th>
                  </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let statOption of activeCabinetstatByExperience">
                      <td>
                          <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                      </td>
                      <td *ngFor="let statData of statOption.option">
                        <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                      </td>
                    </tr>  
               </tbody>
             </table>
       </div>

     </div>


     <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="cabinetStatsByDomainStatus && cabinetStatsByDomainStatus.length > 0">
      <div class="d-flex align-self-center">
        <h6>Resultat en fonction du statut</h6>
      </div>
    </div>

    <div class="tab-content">

      <div class="table-responsive">

             <table class="table table-striped mb-0" *ngIf="cabinetStatsByDomainStatus && cabinetStatsByDomainStatus.length >0">
               <thead>
                  <tr class="text-muted font-sm">
                    <th scope="col">Domaines d'intervention</th>
                    <th *ngFor="let headerProfil of cabinetStatsByDomainStatus[0].option" scope="col">{{headerProfil.optionName}}</th>
                  </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let statOption of cabinetStatsByDomainStatus">
                      <td>
                          <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                      </td>
                      <td *ngFor="let statData of statOption.option">
                        <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                      </td>
                    </tr>  
               </tbody>
             </table>
       </div>

     </div>


     <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="activeCabinetstatByProfil && activeCabinetstatByProfil.length > 0">
        <div class="d-flex align-self-center">
          <h6>Resultat en fonction du profil</h6>
        </div>
      </div>

      <div class="tab-content">

        <div class="table-responsive">
  
               <table class="table table-striped mb-0" *ngIf="activeCabinetstatByProfil && activeCabinetstatByProfil.length >0">
                 <thead>
                    <tr class="text-muted font-sm">
                      <th scope="col">Domaines d'intervention</th>
                      <th *ngFor="let headerProfil of activeCabinetstatByProfil[0].option" scope="col">{{headerProfil.optionName}}</th>
                    
                    </tr>
                 </thead>
                 <tbody>
                     <tr *ngFor="let statOption of activeCabinetstatByProfil;let i = index">
                        <td>
                            <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                        </td>
                        <td *ngFor="let statData of statOption.option">
                          <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                        </td>
                       
                      </tr>  
                 </tbody>
               </table>
         </div>

       </div>




      <div style="height: 50px;"></div>


</div>

