<ngx-spinner name="cabinet">
        <p style="font-size: 20px; color: white">Modification en cours...</p>
</ngx-spinner>
<div [ngClass]="{'form-wrappeer':bottomup, 'form-wrappeer animated fadeInUp':bottomup}" id="top">

        <div class="add-block-title mb-5">

                <div class="row">
                        <div class="col">
                                <div class="d-flex justify-content-start">
                                        <div class="d-flex align-self-center">
                                                <button class="btn btn-small"
                                                        style="background-color:#1A237E; color: #fff;"
                                                        (click)="backButton()">Retour</button>
                                        </div>
                                </div>
                        </div>

                        <div class="col">
                                <div class="d-flex justify-content-end">
                                        <div class="d-flex align-self-center">
                                                <button class="btn btn-small"
                                                        style="background-color:#e85f1c;color:#fff"
                                                        (click)="editInformations()">{{userRole == 'user'?'Modifier': 'Désactiver' }}</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

        <div *ngIf="updateSuccess" class="alert bg-success fade show" role="alert">
                <strong>Modification réussie! </strong> Les informations du cabinet ont été mis à jour.
        </div>

        <div *ngIf="internetError" class="alert bg-danger fade show" role="alert">
                <strong>Internet Error! </strong> Vérifiez votre connection internet et essayez à nouveau.
        </div>

        <form [formGroup]="formCabinets">


                <div class="form-header">
                        <h3>Informations du Cabinet / Bureau Etude</h3>
                </div>

                <!-- Filiation -->
                <div class="row row mt-3">
                        <div class="col-2">
                                <h6>Filiation</h6>
                        </div>
                </div>

                <div class="form-border p-3">

                        <div class="row justify-content-between">
                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Nom(s) : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['nom'].dirty && !formCabinets.controls['nom'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez le nom"
                                                        [formControl]="formCabinets.controls['nom']" />
                                        </div>
                                </div>

                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Sigle : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['sigle'].dirty && !formCabinets.controls['sigle'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez le sigle"
                                                        [formControl]="formCabinets.controls['sigle']" />
                                        </div>
                                </div>
                        </div>

                        <div class="row justify-content-between">
                                <div class="col-5">

                                        <div class="form-group">
                                                <label>Forme juridique : </label>
                                                <select class="form-control"
                                                        [attr.disabled]="userRole == 'user'? '':null"
                                                        [formControl]="formCabinets.controls['forme_juridique_id']">
                                                        <option disabled>Choisir une juridiction</option>
                                                        <option *ngFor="let juridition of juridictions"
                                                                [value]="juridition.id">{{juridition.intitule}}</option>
                                                </select>
                                        </div>
                                        <div *ngIf="formeJuridiqueError">
                                                <p style="color: #e85f1c">Veuillez selectionner une forme juridique</p>
                                        </div>

                                </div>
                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Année de création : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['annee_creation_view'].dirty && !formCabinets.controls['annee_creation_view'].valid)?'form-control form-control-error':'form-control'"
                                                        type="date" placeholder="Entrez l'année de création"
                                                        [formControl]="formCabinets.controls['annee_creation_view']" />
                                        </div>
                                </div>
                        </div>

                        <div class="row justify-content-between">
                                <div class="col-5">
                                        <div class="form-group">
                                                <label> Registre de commerce : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['registre_commerce'].dirty && !formCabinets.controls['registre_commerce'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez le registre"
                                                        [formControl]="formCabinets.controls['registre_commerce']" />
                                        </div>
                                </div>
                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Siège Social : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['siege_social'].dirty && !formCabinets.controls['siege_social'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez le siège"
                                                        [formControl]="formCabinets.controls['siege_social']" />
                                        </div>
                                </div>
                        </div>

                </div>


                <!-- Dirigeants-->

                <div class="row row mt-3">
                        <div class="col">
                                <h6>Dirigeants</h6>
                        </div>
                </div>
                <div class="form-border p-3">

                        <div class="row justify-content-between">
                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Nom : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['nom_principal_dirigeant'].dirty && !formCabinets.controls['nom_principal_dirigeant'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez le nom"
                                                        [formControl]="formCabinets.controls['nom_principal_dirigeant']" />
                                        </div>
                                </div>

                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Prénom : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['prenom_principal_dirigeant'].dirty && !formCabinets.controls['prenom_principal_dirigeant'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez le prénom"
                                                        [formControl]="formCabinets.controls['prenom_principal_dirigeant']" />
                                        </div>
                                </div>
                        </div>

                        <div class="row justify-content-between">
                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Téléphone : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['telephone_principal_dirigeant'].dirty && !formCabinets.controls['telephone_principal_dirigeant'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez le numéro"
                                                        [formControl]="formCabinets.controls['telephone_principal_dirigeant']" />
                                        </div>
                                </div>

                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Couriel : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['courriel_principal_dirigeant'].dirty && !formCabinets.controls['courriel_principal_dirigeant'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez l'email"
                                                        [formControl]="formCabinets.controls['courriel_principal_dirigeant']" />
                                        </div>
                                </div>
                        </div>
                </div>


                <!-- Contacts-->

                <div class="row row mt-3">
                        <div class="col">
                                <h6>Contacts</h6>
                        </div>
                </div>
                <div class="form-border p-3">

                        <div class="row justify-content-around">
                                <div class="col-10">
                                        <div class="form-group">
                                                <label>Adresse : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['adresse'].dirty && !formCabinets.controls['adresse'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez l'adresse"
                                                        [formControl]="formCabinets.controls['adresse']" />
                                        </div>
                                </div>
                        </div>

                        <div class="row justify-content-around">
                                <div class="col-10">
                                        <div class="form-group">
                                                <label>Téléphone : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['liste_telephone_view'].dirty && !formCabinets.controls['liste_telephone_view'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez le numéro"
                                                        [formControl]="formCabinets.controls['liste_telephone_view']" />
                                                <p class="indictor-message">Vous pouvez ajouter plusieurs numéros
                                                        séparées par des virgules</p>
                                        </div>
                                </div>
                        </div>

                        <div class="row justify-content-around">
                                <div class="col-10">
                                        <div class="form-group">
                                                <label>Courriel : </label>
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        [ngClass]="(formCabinets.controls['liste_courriel_view'].dirty && !formCabinets.controls['liste_courriel_view'].valid)?'form-control form-control-error':'form-control'"
                                                        type="text" placeholder="Entrez l'email"
                                                        [formControl]="formCabinets.controls['liste_courriel_view']" />
                                                <p class="indictor-message">Vous pouvez ajouter plusieurs email séparées
                                                        par des virgules</p>
                                        </div>
                                </div>
                        </div>


                </div>




                <!-- Formation, Etude et Expériences -->

                <div class="row row mt-3">
                        <div class="col">
                                <h6>Profil(s) et Expériences</h6>
                        </div>
                </div>

                <div class="form-border p-3">

                        <div class="row">
                                <div class="col-12">
                                        <div class="form-group">
                                                <label> Profil : </label>
                                                <select class="form-control"
                                                        [attr.disabled]="userRole == 'user'? '':null"
                                                        [formControl]="formCabinets.controls['liste_profil_view']">
                                                        <option disabled>Choisir le profil</option>
                                                        <option *ngFor="let profil of profilList" [value]="profil.id">
                                                                {{profil.intitule}}</option>
                                                </select>
                                        </div>
                                </div>
                                <div *ngIf="profilError">
                                        <p style="color: #e85f1c">Veuillez selectionner un niveau</p>
                                </div>
                        </div>

                        <div class="row justify-content-between">
                                <div class="col-5">
                                        <div class="form-group">
                                                <label>Expérience Géographique : </label>
                                                <select class="form-control"
                                                        [attr.disabled]="userRole == 'user'? '':null"
                                                        [formControl]="formCabinets.controls['liste_experience_geographique_view']">
                                                        <option disabled>Choisir une expérience géographique</option>
                                                        <option *ngFor="let experience of experienceList"
                                                                [value]="experience.id">{{experience.intitule}}</option>
                                                </select>
                                        </div>
                                        <div *ngIf="experienceError">
                                                <p style="color: #e85f1c">Veuillez selectionner une expérience</p>
                                        </div>
                                </div>
                                <div class="col-5">
                                        <div class="form-group">

                                                <label>Experience avec :</label>

                                                <div class="row no-gutters">
                                                        <div class="col-2 col-md-2 col-lg-1 col-xl-1">
                                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                                        class="form-control" type="checkbox"
                                                                        name="cooperation"
                                                                        [formControl]="formCabinets.controls['experienceAvecCooperationAllemande_view']" />
                                                        </div>

                                                        <div class="col-3 col-md-9 col-lg-9 col-xl-9 mt-2">
                                                                <p class="experience-text">La Coopération Allemande</p>
                                                        </div>
                                                </div>
                                                <div class="row no-gutters">
                                                        <div class="col-2 col-md-2 col-lg-1 col-xl-1">
                                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                                        class="form-control" type="checkbox"
                                                                        name="autresPartenaires"
                                                                        [formControl]="formCabinets.controls['experienceAvecLesAutresPartenaires_view']" />
                                                        </div>

                                                        <div class="col-3 col-md-9 col-lg-9 col-xl-9 mt-2">
                                                                <p class="experience-text">Les autres partenaires de la
                                                                        coopération</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <!-- Domaine d'expertise et experience(s) professionnelle(s) -->

                <div class="row row mt-3">
                        <div class="col">
                                <h6>Domaine d'expertise et expérience(s) et professionnelle(s)</h6>
                        </div>
                </div>

                <div class="form-border p-3">

                        <!-- Domaines d'expertise choisies -->


                        <div class="row" *ngIf="listDomaines && listDomaines.length > 0">
                                <div class="col domain-zone m-1" *ngFor="let domain of listDomaines; let i=index">
                                        <div class="row no-gutters domain-choice justify-content-center m-1">
                                                <div class="col p-1">
                                                        <strong>{{domain.nomDomaine.length <= 12 ? domain.nomDomaine : domain.nomDomaine.substring(0,11) + '...'}}
                                                        </strong>
                                                </div>
                                                <div class="col-2 p-1">
                                                        <strong>{{domain.nbre_consultation}}</strong>
                                                </div>
                                                <div class="col-2" (click)="removeDomaine(i)">
                                                        <i class="mat-icon material-icons">close</i>
                                                </div>
                                        </div>

                                </div>
                        </div>

                        <div class="row">
                                <div class="col-6">
                                        <div class="form-group">
                                                <label> Domaine : </label>
                                                <select class="form-control"
                                                        [attr.disabled]="userRole == 'user' || listDomaines.length==5? '':null"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="domaine">
                                                        <option disabled>Choisir un domaine</option>
                                                        <option *ngFor="let domain of domainesList; let i=index"
                                                                [value]="i">{{domain.intitule}}</option>
                                                </select>
                                        </div>
                                        <div *ngIf="domainError">
                                                <p style="color: #e85f1c">Veuillez selectionner un domaine</p>
                                        </div>
                                </div>
                                <div class="col-4">
                                        <div class="form-group">
                                                <label>Nombre de consultation : </label>
                                                <input [attr.disabled]="userRole == 'user'|| listDomaines.length==5? '':null"
                                                        class="form-control" type="text" placeholder="Entrez le nombre"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="nbreConsultant" />
                                        </div>
                                </div>
                                <div class="col-2 mt-4">
                                        <button class="btn btn-small"
                                                [disabled]="!domaine||!nbreConsultant || listDomaines.length==5 || userRole == 'user'"
                                                style="background-color:#1A237E; color: #ffffff" (click)="addDomaine()">
                                                AJOUTER</button>
                                </div>
                        </div>

                </div>


                <!-- cvs-->
                <div class="row mt-3">
                        <div class="col-2">
                                <h6>CV(s)</h6>
                        </div>
                        <div class="col-2 offset-5">
                                <h6>Status</h6>
                        </div>
                </div>

                <div class="row justify-content-between p-3">
                        <div class="col-6 form-border p-3">

                                <div class="row file-header m-2 p-2" *ngFor="let file of listCvs; let j=index">
                                        <div class="col-9">
                                                {{file.filename}}
                                        </div>
                                        <div class="col-1 offset-1">
                                                <!-- <i class="mat-icon material-icons">edit</i>-->
                                        </div>
                                        <div class="col-1" *ngIf="userRole != 'user'" (click)="removeDocument(j)">
                                                <i class="mat-icon material-icons">close</i>
                                        </div>
                                </div>

                                <div class="file-contentainer m-2 p-5">
                                        <!--  <p style="font-size: 8px;">Déposer le fichier ici</p>
                              <p>_<span style="font-size: 8px;"> ou </span>_</p>
                               <button class="btn" style="background-color:#9E9E9E; color: #fff" (click)="addCv()" >PARCOURIR</button> -->
                                        <div class="text-center">
                                                <p>Veuillez choisir un ou plusieurs fichier(s) au format PDF</p>
                                        </div>
                                        <div class="form-group">
                                                <input [attr.disabled]="userRole == 'user'? '':null"
                                                        style="background-color:#9E9E9E; color: #fff" type="file"
                                                        *ngIf="uploader" ng2FileSelect [uploader]="uploader"
                                                        (change)="onFilePdf($event)" />
                                        </div>

                                </div>
                                <div *ngIf="pdfAddError">
                                        <p style="color: #e85f1c"> Une erreur est survenue lors de l'importation du
                                                fichier. Essayer à nouveau</p>
                                </div>

                                <div *ngIf="doctypeError">
                                        <p style="color: #e85f1c"> Veuillez choisir un document au format PDF</p>
                                </div>
                        </div>

                        <div class="col-5 form-border p-3">

                                <div class="form-group">
                                        <label>Statut : </label>
                                        <select class="form-control" [attr.disabled]="userRole == 'user'? '':null"
                                                [formControl]="formCabinets.controls['statut_id']">
                                                <option disabled>Choisir un statut</option>
                                                <option *ngFor="let statut of statutList" [value]="statut.id">
                                                        {{statut.intitule}}</option>
                                        </select>
                                </div>
                                <div *ngIf="statutIdError">
                                        <p style="color: #e85f1c">Veuillez selectionner un statut</p>
                                </div>

                                <div class="form-group">
                                        <label>Disponibilité : </label>
                                        <select class="form-control" [attr.disabled]="userRole == 'user'? '':null"
                                                [formControl]="formCabinets.controls['disponibilite_id']">
                                                <option disabled>Choisir une Disponibilité</option>
                                                <option *ngFor="let dispo of disponibilites" [value]="dispo.id">
                                                        {{dispo.intitule}}</option>
                                        </select>
                                </div>
                                <div *ngIf="disponibilyError">
                                        <p style="color: #e85f1c">Veuillez selectionner une Disponibilité</p>
                                </div>

                                <div class="form-group">
                                        <label>Recommandation : </label>
                                    <!--     <select class="form-control" [attr.disabled]="userRole == 'user'? '':null"
                                                [formControl]="formCabinets.controls['recommandation_id']">
                                                <option disabled>Choisir une recommandation</option>
                                                <option *ngFor="let recom of recommandationsList" [value]="recom.id">
                                                        {{recom.intitule}}</option>
                                        </select> -->
                                        <input [attr.disabled]="userRole == 'user'? '':null" class="form-control" type="text"
                                        placeholder="Entrer un texte"
                                        [formControl]="formCabinets.controls['recommandation_name']" />
                                </div>
                                <div *ngIf="recommandationError">
                                        <p style="color: #e85f1c">Veuillez selectionner une recommandation</p>
                                </div>
                        </div>
                </div>




                <!-- button save -->


                <div class="add-block-title mt-5 mb-5">

                        <div class="row">
                                <div class="col">
                                        <div class="d-flex justify-content-start">
                                                <div class="d-flex align-self-center">
                                                        <button class="btn btn-small"
                                                                style="background-color:#e85f1c;color:#fff"
                                                                (click)="confirmDialogCancel()">Annuler</button>
                                                </div>
                                        </div>
                                </div>

                                <div class="col">
                                        <div class="d-flex justify-content-end">
                                                <div class="d-flex align-self-center">
                                                        <button class="btn btn-small"
                                                                style="background-color:#1A237E; color: #ffffff"
                                                                [disabled]="formCabinets.invalid || userRole == 'user'"
                                                                (click)="confirmDialogUpate(formCabinets.value)">ENREGISTRER</button>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

        </form>

        <div class="d-flex justify-content-center author">

                <p>Créer par {{cabinet.ajouter_par.username}} / le {{cabinet.ajouter_par.created_at}}
                        <span *ngIf="cabinet && cabinet.modifier_par">, modifié par {{cabinet.modifier_par.username}} /
                                le {{cabinet.modifier_par.updated_at}}</span>
                </p>
        </div>

        <div style="height:50px;"></div>

</div>


<div class="row justify-content-around" (click)="scrollTop()">
        <div class="col-1">
                <div class="scrollTop">
                        <i class="mat-icon material-icons">arrow_upward</i>
                </div>
        </div>
</div>