<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> 
<ngx-spinner name="ong">
  <p style="font-size: 20px; color: white">Suppression en cours...</p>
 </ngx-spinner>
<div class="row">

    <div class="col-9 col-md-9 col-xs-9 col-lg-9" id="top">
  
        <div class="tab-wrappers">
       
            <div class="tab-content">
          
               <div class="table-responsive">
                      <table class="table table-striped mb-0" *ngIf="activeOng&&activeOng.length > 0">
                        <thead>
                          <tr class="text-muted font-sm">
                            <th scope="col">NOMS (SIGLE)</th>
                            <th scope="col">FORME JURIDIQUE</th>
                            <th scope="col">CREE EN</th>
                            <th scope="col">STATUT</th>
                            <th scope="col">RESOPNSABLE</th>
                            <th class="text-center" scope="col">PHONE</th>
                            <th class="text-center" scope="col">EMAIL</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ong of activeOng;let i = index">

                           
                            <td>
                                <span class="font-sm" *ngIf="ong" >{{ong.nom ? ong.nom : ''}} <span *ngIf="ong.sigle">( {{ong.sigle}} )</span> </span>
                            </td>
                            <td>
                              <span class="font-sm" *ngIf="ong">{{ ong.forme_juridique && ong.forme_juridique.intitule  ? ong.forme_juridique.intitule  : ''}}</span>
                            </td>
                            <td>
                                <span class="font-sm" *ngIf="ong">{{ong.annee_creation ? ong.annee_creation : ''}}</span>
                            </td>
                            <td>
                                <span class="font-sm" *ngIf="ong">{{ong.disponibilite && ong.disponibilite.intitule  ? ong.disponibilite.intitule  : ''}}</span>
                            </td>
  
                            <td>
                                <span class="font-sm" *ngIf="ong">{{ong.prenom_principal_dirigeant ? ong.prenom_principal_dirigeant : ''}} {{ong.nom_principal_dirigeant ? ong.nom_principal_dirigeant : ''}}</span>
                            </td>
  
                            <td>
                                <span class="font-sm" *ngIf="ong" >{{ong.telephone_principal_dirigeant ? ong.telephone_principal_dirigeant : ''}} </span>
                            </td>
  
                            <td>
                                <span class="font-sm"  *ngIf="ong">{{ong.courriel_principal_dirigeant ? ong.courriel_principal_dirigeant : ''}} </span>
                            </td>
  
                            <td>
                                <button class="btn btn-small" style="background-color:#1A237E; color:#fff" type="button" (click)="openDocuments(ong)">Document</button>
                            </td>

                          <td>
                            <button class="btn btn-small" style="background-color:#222; color:#fff" type="button" (click)="showOng(ong)">{{userRole && (userRole=='admin' || userRole=='redac') ? 'Modifier': 'Lire'}}</button>
                          </td>

                          <td *ngIf="userRole=='admin'">
                            <button class="btn btn-small" style="background-color:#e85f1c; color:#fff" type="button" (click)="confirmDialog(ong,i)">Supprimer</button>
                          </td>
                           
                          </tr>
                        </tbody>
                      </table>
                </div>
             </div>


        <!-- Pagination *ngIf="totalPages>0"-->

        <div class="mt-5 d-flex justify-content-end mr-4"  *ngIf="activeOng && activeOng.length > 0 && totalPages>1">

            <div class="row justify-content-between" >
  
              <div class="col-3 p-0">
                <span class="pagination-text">Ligne par page</span>
              </div>
  
              <div class="col-2 p-0">
                  <select style="border-width: 0px;" (change)="updatePagination(nbItemsByPage)" class="pagination-text" [ngModelOptions]="{standalone:true}"  [(ngModel)]="nbItemsByPage" >
                      <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item" >
                        {{item}}
                    </option>
                 </select>
              </div>
  
              <div class="col-3 p-0">
                <span class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activeOng.length:nbItemsByPage*currentPage}} of {{nbItems}}</span> 
              </div>
  
              <div class="col-1 pagination-text">
                  <i    class="mat-icon material-icons" (click)="previousActiveList(currentPage)">chevron_left</i>
              </div>
  
              <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
                  <i  class="mat-icon material-icons">chevron_right</i>
              </div>
  
            </div>
  
          </div>
  
          </div>
    </div>
  
    <div class="col-3 col-md-3 col-xs-3 col-lg-3">
           <app-filter-ong [active]="filtreOng"  (filters)="OngFilters($event)" ></app-filter-ong>
    </div>
  
  </div>
  