<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> 
<ngx-spinner name="consultant">
  <p style="font-size: 20px; color: white">Suppression en cours...</p>
 </ngx-spinner>
<div class="row" >

  <div class="col-9 col-md-9 col-xs-9 col-lg-9" id="top">

      <div class="tab-wrappers">
     
          <div class="tab-content">
        
             <div class="table-responsive">
                    <table class="table table-striped mb-0" *ngIf="activeConsultants && activeConsultants.length >0">
                      <thead>
                        <tr class="text-muted font-sm">
                          <th scope="col">NOMS & PRENOMS</th>
                          <th scope="col">SEXE</th>
                          <th scope="col">EXP</th>
                          <th scope="col">NIVEAU</th>
                          <th scope="col">STATUT</th>
                          <th scope="col">PHONE</th>
                          <th scope="col">EMAIL</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let consultant of activeConsultants;let i = index">
                          <td>
                              <span class="font-sm" *ngIf="consultant">{{consultant.nom ? consultant.nom : ''}} {{consultant.prenom ? consultant.prenom : ''}}</span>
                          </td>
                          <td>
                            <span class="font-sm"  *ngIf="consultant">{{consultant.sexe ? consultant.sexe : ''}}</span>
                          </td>
                          <td>
                              <span class="font-sm"  *ngIf="consultant">{{consultant.nbre_annee_d_experience ? consultant.nbre_annee_d_experience : 0}}</span>
                          </td>

                          <td>
                              <span class="font-sm"  *ngIf="consultant && consultant.niveau_formation">{{consultant.niveau_formation.intitule ? consultant.niveau_formation.intitule : ''}}</span>
                          </td>

                          <td>
                              <span class="font-sm"  *ngIf="consultant && consultant.statut">{{consultant.statut.intitule ? consultant.statut.intitule : ''}}</span>
                          </td>

                          <td>
                              <span class="font-sm" *ngFor="let contact of consultant.contact_users; let i=index">{{contact.telephone ? contact.telephone : ''}} {{ (i+1) < consultant.contact_users.length ? '/' : '' }} </span>
                          </td>

                          <td>
                              <span class="font-sm" *ngFor="let mail of consultant.courriel_users; let j=index">{{mail.email ? mail.email : ''}} {{ (j+1) < consultant.courriel_users.length ? '/' : '' }} </span>
                          </td>

                          <td>
                              <button class="btn btn-small" style="background-color:#1A237E; color:#fff" type="button" (click)="openCV(consultant)">CV</button>
                          </td>

                          <td>
                            <button class="btn btn-small" style="background-color:#222; color:#fff" type="button" (click)="showConsultant(consultant)">{{userRole && (userRole=='admin' || userRole=='redac') ? 'Modifier': 'Lire'}}</button>
                          </td>

                          <td *ngIf="userRole=='admin'">
                            <button class="btn btn-small" style="background-color:#e85f1c; color:#fff" type="button" (click)="confirmDialog(consultant,i)">Supprimer</button>
                          </td>
                         
                        </tr>
                      </tbody>
                    </table>
              </div>
           </div>

        </div>

        <!-- Pagination-->

        <div class="mt-5 d-flex justify-content-end mr-4" *ngIf="activeConsultants && activeConsultants.length >0 && totalPages>1">

          <div class="row justify-content-between">

            <div class="col-3 p-0">
              <span class="pagination-text">Ligne par page</span>
            </div>

            <div class="col-2 p-0">
                <select style="border-width: 0px;" class="pagination-text" [ngModelOptions]="{standalone:true}"  [(ngModel)]="nbItemsByPage" >
                    <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item" >
                      {{item}}
                  </option>
               </select>
            </div>

            <div class="col-3 p-0">
              <span class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activeConsultants.length:nbItemsByPage*currentPage}} of {{nbItems}}</span> 
            </div>

            <div class="col-1 pagination-text" (click)="previousActiveList(currentPage)">
                <i    class="mat-icon material-icons">chevron_left</i>
            </div>

            <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
                <i  class="mat-icon material-icons">chevron_right</i>
            </div>

          </div>

        </div>
  </div>

  <div class="col-3 col-md-3 col-xs-3 col-lg-3">
      <app-filter-consultant [active]="filtreConsultant"  (filters)="consultantFilters($event)"></app-filter-consultant>
  </div>

</div>
