<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> 
<ngx-spinner name="cabinet">
  <p style="font-size: 20px; color: white">Suppression en cours...</p>
 </ngx-spinner>
<div class="row">

    <div class="col-9 col-md-9 col-xs-9 col-lg-9" id="top">
  
        <div class="tab-wrappers">
       
            <div class="tab-content">
          
               <div class="table-responsive">
                      <table class="table table-striped mb-0" *ngIf="activeCabinets&&activeCabinets.length > 0">
                        <thead>
                          <tr class="text-muted font-sm">
                            <th scope="col">NOMS (SIGLE)</th>
                            <th scope="col">FORME JURIDIQUE</th>
                            <th scope="col">CREE EN</th>
                            <th scope="col">STATUT</th>
                            <th scope="col">RESOPNSABLE</th>
                            <th class="text-center" scope="col">PHONE</th>
                            <th class="text-center" scope="col">EMAIL</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let cabinet of activeCabinets;let i = index">

                           
                            <td>
                                <span class="font-sm" *ngIf="cabinet" >{{cabinet.nom ? cabinet.nom : ''}} <span *ngIf="cabinet.sigle">( {{cabinet.sigle}} )</span></span>
                            </td>
                            <td>
                              <span class="font-sm" *ngIf="cabinet">{{cabinet.forme_juridique && cabinet.forme_juridique.intitule  ? cabinet.forme_juridique.intitule  : ''}}</span>
                            </td>
                            <td>
                                <span class="font-sm" *ngIf="cabinet">{{cabinet.annee_creation ? cabinet.annee_creation : ''}}</span>
                            </td>
                            <td>
                                <span class="font-sm" *ngIf="cabinet">{{cabinet.disponibilite && cabinet.disponibilite.intitule ? cabinet.disponibilite.intitule : ''}}</span>
                            </td>
  
                            <td>
                                <span class="font-sm" *ngIf="cabinet">{{cabinet.prenom_principal_dirigeant ? cabinet.prenom_principal_dirigeant : ''}} {{cabinet.nom_principal_dirigeant ? cabinet.nom_principal_dirigeant : ''}}</span>
                            </td>
  
                            <td>
                                <span class="font-sm" *ngIf="cabinet" >{{cabinet.telephone_principal_dirigeant ? cabinet.telephone_principal_dirigeant : ''}} </span>
                            </td>
  
                            <td>
                                <span class="font-sm"  *ngIf="cabinet">{{cabinet.courriel_principal_dirigeant ? cabinet.courriel_principal_dirigeant : ''}} </span>
                            </td>
  
                            <td>
                                <button class="btn btn-small" style="background-color:#1A237E; color:#fff" type="button" (click)="openDocuments(cabinet)">Document</button>
                            </td>
                          <td>
                            <button class="btn btn-small" style="background-color:#222; color:#fff" type="button" (click)="showCabinet(cabinet)">{{userRole && (userRole=='admin' || userRole=='redac') ? 'Modifier': 'Lire'}}</button>
                          </td>

                          <td *ngIf="userRole=='admin'">
                            <button class="btn btn-small" style="background-color:#e85f1c; color:#fff" type="button" (click)="confirmDialog(cabinet,i)">Supprimer</button>
                          </td>
                        
                          </tr>
                        </tbody>
                      </table>
                </div>
             </div>


        <!-- Pagination *ngIf="totalPages>0"-->

        <div class="mt-5 d-flex justify-content-end mr-4"  *ngIf="activeCabinets && activeCabinets.length > 0 && totalPages>1">

            <div class="row justify-content-between" >
  
              <div class="col-3 p-0">
                <span class="pagination-text">Ligne par page</span>
              </div>
  
              <div class="col-2 p-0">
                  <select style="border-width: 0px;" class="pagination-text" [ngModelOptions]="{standalone:true}"  [(ngModel)]="nbItemsByPage" >
                      <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item" >
                        {{item}}
                    </option>
                 </select>
              </div>
  
              <div class="col-3 p-0">
                <span class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activeCabinets.length:nbItemsByPage*currentPage}} of {{nbItems}}</span> 
              </div>
  
              <div class="col-1 pagination-text">
                  <i    class="mat-icon material-icons" (click)="previousActiveList(currentPage)">chevron_left</i>
              </div>
  
              <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
                  <i  class="mat-icon material-icons">chevron_right</i>
              </div>
  
            </div>
  
          </div>
  
          </div>
    </div>
  
    <div class="col-3 col-md-3 col-xs-3 col-lg-3">
           <app-filter-cabinets [active]="filtreCabinets"  (filters)="cabinetsFilters($event)" ></app-filter-cabinets>
    </div>
  
  </div>
  