<div class="chk-block">

    <ngx-spinner name="export">
        <p style="font-size: 20px; color: white">Exportatio en cours...</p>
    </ngx-spinner>
 
    <div class="chk-block-content">

        <div class="d-flex justify-content-end" *ngIf="userData&&(userData == 'admin' || userData == 'redac')">
            <div class="d-flex align-self-center">
              <button class="btn btn-small" style="background-color:#1A237E; color:#fff" (click)="add()" >FAIRE UN AJOUT</button>
            </div>
          </div>

      <div class="tab-wrappers">

        <ul class="nav nav-tabs nav-tabs-bottom mb-4" role="tablist">
           <li class="nav-item">
              <a class="nav-link {{ tabSelect ==1? 'active' : '' }}"  data-toggle="tab" role="tab" aria-controls="tabSelect ==1? 'active' : 'inactive'" aria-expanded="tabSelect ==1? 'true' : 'false'" (click)="selectedTab(1)" >CONSULTANTS INDIVIDUELS</a>
           </li>
           <li class="nav-item">
              <a class="nav-link {{ tabSelect ==2? 'active' : '' }}" data-toggle="tab"  role="tab" aria-controls="tabSelect ==2? 'active' : 'inactive'" aria-expanded="tabSelect ==2? 'true' : 'false'" (click)="selectedTab(2)" >CABINETS ET BUREAUX D'ETUDES</a>
           </li>
           <li class="nav-item">
              <a class="nav-link {{ tabSelect ==3? 'active' : '' }}" data-toggle="tab"  role="tab" aria-controls="tabSelect ==3? 'active' : 'inactive'" aria-expanded="tabSelect ==3? 'true' : 'false'" (click)="selectedTab(3)" >ONG, ASSOCIATION ET AUTRES</a>
           </li>
        </ul>

        <!--
          Ajout les filtres
        -->

         <div class="card shadow-box py-5 px-4 mb-4 search-form-wrap">  
            <form [formGroup]="searchForm"> 
              <!-- Div search et bouttons d'impression-->
              <div class="row">
                <div class="col-4">
                    <div >
                      <input class="form-control"  type="text" (change)="searchFilterBykeyword(searchForm.value)" [formControl]="searchForm.controls['keywordValue']"  placeholder="{{tabSelect ==1 ? 'Nom, prénom ou mot cle':'Nom, sigle ou mot cle'}}">
                    </div>
               </div>

                <div class="col-8 d-flex justify-content-end">

                 <div class="mr-3" (click)="exportData()">
                    <img src="assets/img/exporter.png" style="display:block; margin:auto;" height="40px" width="40px" >
                    <p style="color:#1A237E; font-weight: bold">EXPORTER</p>
                  </div>
                  <div (click)="confirmDialogOption()">
                      <img src="assets/img/imprimer.png" style="display:block; margin:auto;"  height="40px" width="40px">
                      <p  style="color:#1A237E; font-weight: bold">IMPRIMER</p>
                  </div> 
                </div>
              </div>
              <div class="row no-gutters">
                  <div class="col-4 col-md-3 col-lg-2 col-xl-2">
                  <div class="formGroup"> 
                    <div class="row no-gutters">  
                      <div class="col-2 col-md-2 col-lg-1 col-xl-1">
                          <input  type="radio"   (change)="searchFilterBykeyword(searchForm.value)" name="search" [checked]="true" value="all"  [formControl]="searchForm.controls['searchOption']" />
                      </div>
                      <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                          Filtrer sur tous
                      </div>
                      </div>  
                    </div> 
                  </div>

                      <div class="col-4 col-md-4 col-lg-3 col-xl-3">
                          <div class="formGroup"> 
                      <div class="row no-gutters">  
                          <div class="col-2 col-md-2 col-lg-1 col-xl-1">
                              <input  type="radio"  (change)="searchFilterBykeyword(searchForm.value)"  name="search" [checked]="false"  value="nom_prenom"  [formControl]="searchForm.controls['searchOption']" />
                          </div>
                          <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                              Filtrer sur le {{ tabSelect ==1 ? 'nom et prénom':'nom et sigle'}}
                          </div>
                      </div> 
                    </div> 
                  </div>
                      
                      <div class="col-4 col-md-3 col-lg-2 col-xl-2">
                          <div class="formGroup">  
                      <div class="row no-gutters">  
                          <div class="col-2 col-md-2 col-lg-1 col-xl-1">
                                <input  type="radio" (change)="searchFilterBykeyword(searchForm.value)"  name="search" [checked]="false"  value="cv"  [formControl]="searchForm.controls['searchOption']" />
                          </div>
                          <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                                  Filtrer sur le CV
                          </div>
                      </div> 
                    </div>
              </div> 
            </div>
            </form>
            
          </div>
    

        <div class="tab-content" >
          <div role="tabpanel" class="tab-pane fade {{ tabSelect ==1? 'show active' : '' }}"  (click)="selectedTab(1)">  
            <app-consultants (consultants)="getConsultants($event)"></app-consultants> 
          </div>
        
          <div class="tab-pane fade {{ tabSelect ==2? 'show active' : '' }}" role="tabpanel" (click)="selectedTab(2)">
              <app-cabinets (cabinets)="getCabinets($event)" ></app-cabinets>
          </div> 

          <div class="tab-pane fade {{ tabSelect ==3? 'show active' : '' }}" role="tabpanel" (click)="selectedTab(3)">
              <app-ong (ongs)="getOngs($event)"></app-ong>
          </div> 
        </div>

      </div>

    </div>
  </div>
