
<div class="loginone-wrapper mt-5 pt-xl-5">
  <ngx-spinner name="add-user">
      <p style="font-size: 20px; color: white">Ajout en cours...</p>
  </ngx-spinner>
<div class="login-content text-center">
  <div class="login-inner-wrapper-2 shadow-box p-4">

      <div *ngIf="internetError"  class="alert bg-danger fade show" role="alert">
          <strong>Internet Error! </strong> Vérifiez votre connection internet et essayez à nouveau.
      </div>

      <div *ngIf="dataError" class="alert alert-danger">
          Vos informations sont  incorrectes !
      </div>

      <div *ngIf="addSucced"  class="alert bg-success fade show" role="alert">
          <strong>Ajout réussi!  </strong> Un nouvel utilisateur a été ajouté.
      </div>

    <form [formGroup]="formAddUser" class="login-form">

      

        <div *ngIf="roleError" class="alert alert-danger">
            Ce rôle n'existe pas !
        </div>
          <div class="row form-group">
              <div class="col-3">
                  <label>Rôle : </label> 
              </div>
              <div class="col-9">
                  <select class="form-control"  (change)="updateRole()"  [formControl]="formAddUser.controls['role_id']" >
                      <option disabled>Choisir un rôle</option>
                      <option *ngFor="let role of userRoles" [value]="role.id">{{role.title}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="formAddUser.controls['role_id'].dirty && !formAddUser.controls['role_id'].valid">
                  <p style="color: #e85f1c">Veuillez selectionner un rôle</p>
            </div>


            <div *ngIf="usernameError" class="alert alert-danger">
                Ce nom d'utilisateur existe déjà !
            </div>
            <div class="form-group">
                <input name="username" (change)="changeUsername()" [ngClass]="(formAddUser.controls['username'].dirty && !formAddUser.controls['username'].valid)?'form-control form-control-error':'form-control'"  [formControl]="formAddUser.controls['username']" type="text" placeholder="Nom d'utilisateur">
            </div> 
            <div *ngIf="phoneError" class="alert alert-danger">
                Ce numéro existe déjà !
            </div>     
            <div class="form-group">
              <input name="phone"  (change)="changePhone()" [ngClass]="(formAddUser.controls['phone'].dirty && !formAddUser.controls['phone'].valid)?'form-control form-control-error':'form-control'"  [formControl]="formAddUser.controls['phone']" type="tel" placeholder="Téléphone">
            </div>

            <div *ngIf="emailError" class="alert alert-danger">
                Cet email existe déjà !
            </div>
            <div class="form-group">
              <input  name="email"  (change)="changeEmail()" [ngClass]="(formAddUser.controls['email'].dirty && !formAddUser.controls['email'].valid)?'form-control form-control-error':'form-control'" [formControl]="formAddUser.controls['email']" type="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input name="password" [ngClass]="(formAddUser.controls['password'].dirty && !formAddUser.controls['password'].valid)?'form-control form-control-error':'form-control'" [formControl]="formAddUser.controls['password']" type="password"  placeholder="Mot de passe" >
            </div>
            
            <div class="form-group">
              <input name="cpassword" [ngClass]="(formAddUser.controls['cpassword'].dirty && !formAddUser.controls['cpassword'].valid)?'form-control form-control-error':'form-control'" [formControl]="formAddUser.controls['cpassword']"  type="password" placeholder="Confirmer mot de passe" >
            </div>
        
            <div class="mb-3">
              <button type="submit" class="btn btn-block btn-lg btn-square" style="background-color:#1A237E; color:#fff" [disabled]="formAddUser.invalid" (click)="addUser(formAddUser.value)">Enregistrer</button>
            </div>
     
    </form>
  </div>

</div>

</div>