<div class="add-block-title mb-5">
    <div class="d-flex justify-content-start">
      <div class="d-flex align-self-center">
        <button class="btn btn-small" style="background-color:#1A237E; color:#fff" (click)="backButton()" >Retour</button>
      </div>
    </div>
</div>

  <pdf-viewer [src]="pdfdataUrl" 
   [render-text]="true"
   [show-all]="true"
   [c-maps-url]="'assets/cmaps/'"
   style="display: block;"
   [external-link-target]="'blank'">
  </pdf-viewer> 

 