<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<ngx-spinner name="user-list">
    <p style="font-size: 20px; color: white">Modification en cours...</p>
</ngx-spinner>

        <!-- Update user Role-->
<div class="d-flex justify-content-end" *ngIf="showRoleForm">

   <div class="row mb-5">
      <div class="form-group col-3 col-md-3 col-xs-3 col-lg-3 mt-1">
          <label> <strong> Rôle : </strong></label> 
      </div>
      <div class="col-3 col-md-3 col-xs-3 col-lg-3">
          <select class="form-control"  ngModelOptions={standalone:true}  [(ngModel)]="roleId" >
              <option disabled>Choisir un rôle</option>
              <option *ngFor="let role of userRoles" [value]="role.id">{{role.title}}</option>
        </select>
      </div>
      <div class="col-3 col-md-3 col-xs-3 col-lg-3">
          <button [disabled]="!roleId" class="btn btn-small" style="background-color:#1A237E; color:#fff" type="button" (click)="saveRole()">Enrégistrer</button>
      </div>
      <div class="col-3 col-md-3 col-xs-3 col-lg-3">
          <button class="btn btn-small" style="background-color:#156300; color:#fff" type="button" (click)="updateRoleCancel()">Annuler</button>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12 col-xs-12 col-lg-12">

        <div class="tab-wrappers">
       
            <div class="tab-content">
          
               <div class="table-responsive">
                      <table class="table table-striped mb-0" *ngIf="activeUsers&&activeUsers.length > 0">
                        <thead>
                          <tr class="text-muted font-sm">
                            <th scope="col">Speudo</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Rôle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of activeUsers;let i = index">
                           <td>
                              <span class="font-sm" *ngIf="user">{{user.username ? user.username : ''}}</span>
                            </td>
                           
                            <td>
                                <span class="font-sm" *ngIf="user">{{user.phone ? user.phone : ''}}</span>
                            </td>
                            <td>
                                <span class="font-sm" *ngIf="user">{{user.email ? user.email : ''}}</span>
                            </td>
                            <td>
                                <span class="font-sm" *ngIf="user">{{user.role_id ? getUserRole(user.role_id) : ''}}</span>
                            </td>
  
                            <td class="text-center" *ngIf="userData == 'admin'">
                                <button class="btn btn-small" style="color:#fff;" [ngStyle]="{'background-color':user.active?'#1A237E':'#e85f1c'}" type="button" (click)="userLock(user,i)">{{user && user.active ?'Bloquer' : 'Débloquer'}}</button>
                            </td>

                            <td class="text-center"  *ngIf="userData == 'admin'">
                                <button class="btn btn-small" style="background-color:#1A237E; color:#fff" type="button" (click)="updateRole(user,i)">Modifier rôle</button>
                            </td>
                           
                          </tr>
                        </tbody>
                      </table>
                </div>
             </div>


        <!-- Pagination *ngIf="totalPages>0"-->

        <div class="mt-5 d-flex justify-content-end mr-4"  *ngIf="activeUsers && activeUsers.length > 0 && totalPages>1">

            <div class="row justify-content-between" >
  
              <div class="col-3 p-0">
                <span class="pagination-text">Ligne par page</span>
              </div>
  
              <div class="col-2 p-0">
                  <select style="border-width: 0px;" (change)="updateNumberItems(nbItemsByPage)" class="pagination-text" [ngModelOptions]="{standalone:true}"  [(ngModel)]="nbItemsByPage" >
                      <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item" >
                        {{item}}
                    </option>
                 </select>
              </div>
  
              <div class="col-3 p-0">
                  <span class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activeUsers.length:nbItemsByPage*currentPage}} of {{nbItems}}</span> 
              </div>
  
              <div class="col-1 pagination-text">
                  <i    class="mat-icon material-icons" (click)="previousActiveList(currentPage)">chevron_left</i>
              </div>
  
              <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
                  <i  class="mat-icon material-icons">chevron_right</i>
              </div>
  
            </div>
  
          </div>
  
          </div>
    </div>

  </div>
  