
.page-wrap{
  
}

.header-logo{
  img {
    display: block;
    margin: auto;
  }
}

.header-bar {
    background-color: #e85f1c;
    height: 55px;
}

.footer-content{
  position: fixed;
  left:0px;
  bottom: 0px;
  background-color: #e85f1c;
  height: 55px;
  width: 100%;
}

.menu-container{
    max-width: auto;
    min-height: 200px;
    display: block;
    margin: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
}



.name-ambero{
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.name-tiret{
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.name-expert{
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.profil-logo {
  background-color: transparent;
}

.profil-logo-select {
  background-color: #fff;
}

.user-name {
  font-size: 14px;
  color: #fff;
}