
<!-- Page wraper -->
<div class="page-wrap">

  <!-- Page header -->
    <div class="header-content">

      <div class="row mt-3">
        <div class="col-4 header-logo">
          <img src="assets/img/giz_logo.png" width="291px" height="90px">
        </div>

        <div class="col-3 offset-5 header-logo">
            <img src="assets/img/ambero.png" width="197px" height="90px">
        </div>
      </div>

    </div>


    <!-- Page nav menu  -->
    <div class="row header-bar mt-3 no-gutters">

         <!-- Menu -->
        <div class="col-7 col-md-5  col-lg-5 col-xl-5 nav-menu">
          <ul class="nav d-flex justify-content-start  list-style-none pb-5 pb-md-3">
            <li class="nav-item mb-5 mb-sm-4 mb-md-0">
              <a  routerLink="/dashboard" routerLinkActive #rla1="routerLinkActive"class="nav-link active">
                  <div class="row align-items-center mt-2">
                      <div class="col"> <h3 [ngStyle]="{'color':rla1.isActive ? '#156300':'#fff'}">DASHBOARD</h3>
                      </div>
                   </div>
                
              </a>
            </li>
            <li class="nav-item mb-5 mb-sm-4 mb-md-0">
              <a routerLink="/etats" class="nav-link" routerLinkActive #rla2="routerLinkActive">  
                <div class="row align-items-center mt-2">   
                  <div class="col"> <h3 [ngStyle]="{'color':rla2.isActive ? '#156300':'#fff'}">ETATS</h3> </div>
                </div>
              </a>
            </li>
            <li class="nav-item mb-5 mb-sm-4 mb-md-0" *ngIf="userData == 'admin'">
              <a routerLink="/users" routerLinkActive #rla3="routerLinkActive" class="nav-link">   
                <div class="row align-items-center mt-2">
                  <div class="col"> <h3 [ngStyle]="{'color':rla3.isActive ? '#156300':'#fff'}">UTILISATEURS</h3> </div>
                </div>
              </a>
            </li>
          </ul>
       </div>

          <!-- Name -->
          <div class="col-3 col-md-3 col-lg-3 col-xl-3 m-3">
            <span class="name-ambero">AMBERO</span> <span class="name-tiret">-</span> <span class="name-expert">EXPERTS</span>
        </div>

        <!-- Logo -->
       <div class="col-2 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-end mt-2" (click)="showProfil()">
            <img [ngClass]="{'profil-logo-select': isprofil, 'profil-logo' : !isprofil}"  src="assets/img/user-icon.png" width="40px" height="40px">
           <div class="user-name m-2">
            <p>{{userInfos && userInfos.username ? userInfos.username : ''}}</p>
           </div>
       </div>
    </div>

    <!-- Router oulet zone -->
    <div class="menu-container">
            <div class="inner-container">
              <router-outlet></router-outlet>
              <div style="height: 50px;"></div>
            </div>
    </div>


    <!--Footer zone -->
    <div class="d-flex footer-content">
    </div>
 
</div>
