<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="stats-wrapper"> 

      <!-- Tableaux des statitiques Globaux-->

      <div class="d-flex justify-content-center mt-3 mb-3" *ngIf="activeConsultantstat && activeConsultantstat.length > 0">
        <div class="d-flex align-self-center">
          <h6>Resultat en fonction du genre</h6>
        </div>
      </div>

      <div class="d-flex justify-content-center">

        <div class="row">

          <!--Stats data -->
          <div class="col-7">
     
             <div class="tab-content">
        
             <div class="table-responsive">
                    <table class="table table-striped mb-0" *ngIf="activeConsultantstat && activeConsultantstat.length >0">
                      <thead>
                        <tr class="text-muted font-sm">
                          <th scope="col">Domaines d'intervention</th>
                          <th scope="col">Nombre d'hommes</th>
                          <th scope="col">Nombre de femmes</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let stat of activeConsultantstat;let i = index">
                          <td>
                              <span class="font-sm" *ngIf="stat.domaine">{{stat.domaine.intitule}}</span>
                          </td>
                          <td>
                            <span class="font-sm"  *ngIf="stat">{{stat.nbre_hommes}}</span>
                          </td>
                          <td>
                              <span class="font-sm"  *ngIf="stat">{{stat.nbre_femmes}}</span>
                          </td>
                          <td>
                              <span class="font-sm"  *ngIf="stat">{{stat.nbre_hommes + stat.nbre_femmes}}</span>
                          </td>
                        </tr>    
                      </tbody>
                    </table>
              </div>
           </div>

          </div>

           <!-- Stats chart -->
           <div class="col-5 mt-5" *ngIf="pieChartDataExpertiseGenre&&pieChartLabelsExpertiseGenre && pieChartLabelsExpertiseGenre.length > 0">

                  <div class="chk-block">
                    <div class="chk-block-title">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-start flex-row">
                          <h6>Fréquence Expertise par genre</h6>
                        </div>
                      </div>
                    </div>
                    <div class="chk-block-content">
                      <canvas baseChart height="100" [data]="pieChartDataExpertiseGenre" [labels]="pieChartLabelsExpertiseGenre" [options]="PieChartOptions" [colors]="pieChartColors" [chartType]="pieChartType"></canvas>
                    </div>
                  </div>
           </div>

        </div>

      </div>


      <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="activeConsultantstatByExperience && activeConsultantstatByExperience.length > 0">
        <div class="d-flex align-self-center">
          <h6>Résultat en fonction de l'expérience</h6>
        </div>
      </div>

      <div class="tab-content">

        <div class="table-responsive">
  
               <table class="table table-striped mb-0" *ngIf="activeConsultantstatByExperience && activeConsultantstatByExperience.length >0">
                 <thead>
                    <tr class="text-muted font-sm">
                      <th scope="col">Domaines d'intervention</th>
                      <th *ngFor="let headerProfil of activeConsultantstatByExperience[0].option" scope="col">{{headerProfil.optionName}}</th>
                    </tr>
                 </thead>
                 <tbody>
                     <tr *ngFor="let statOption of activeConsultantstatByExperience">
                        <td>
                            <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                        </td>
                        <td *ngFor="let statData of statOption.option">
                          <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                        </td>
                      </tr>  
                 </tbody>
               </table>
         </div>

       </div>



       <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="consultantStatsByDomainStatus && consultantStatsByDomainStatus.length > 0">
          <div class="d-flex align-self-center">
            <h6>Resultat en fonction du statut</h6>
          </div>
        </div>
  
        <div class="tab-content">
  
          <div class="table-responsive">
    
                 <table class="table table-striped mb-0" *ngIf="consultantStatsByDomainStatus && consultantStatsByDomainStatus.length >0">
                   <thead>
                      <tr class="text-muted font-sm">
                        <th scope="col">Domaines d'intervention</th>
                        <th *ngFor="let headerProfil of consultantStatsByDomainStatus[0].option" scope="col">{{headerProfil.optionName}}</th>
                      </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let statOption of consultantStatsByDomainStatus">
                          <td>
                              <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                          </td>
                          <td *ngFor="let statData of statOption.option">
                            <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                          </td> 
                        </tr>  
                   </tbody>
                 </table>
           </div>
  
         </div>

         <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="activeConsultantstatByProfil && activeConsultantstatByProfil.length > 0">
          <div class="d-flex align-self-center">
            <h6>Resultat en fonction du profil</h6>
          </div>
        </div>
  
        <div class="tab-content">
  
          <div class="table-responsive">
    
                 <table class="table table-striped mb-0" *ngIf="activeConsultantstatByProfil && activeConsultantstatByProfil.length >0">
                   <thead>
                      <tr class="text-muted font-sm">
                        <th scope="col">Domaines d'intervention</th>
                        <th *ngFor="let headerProfil of activeConsultantstatByProfil[0].option" scope="col">{{headerProfil.optionName}}</th>
                      </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let statOption of activeConsultantstatByProfil;let i = index">
                          <td>
                              <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                          </td>
                          <td *ngFor="let statData of statOption.option">
                            <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                          </td>
                        </tr>  
                   </tbody>
                 </table>
           </div>
  
         </div>

  

      <div style="height: 50px;"></div>
 
</div>