.form-control-error{
    border: 1px solid  #FB5050;
}

.form-header {
    h3 {
        font-size: 1rem;
        text-align: center;
        font-weight:bold;
        color: #222;
        opacity: 0.7;
    }
}

.form-border { 
    border: 1px solid rgba(125,125,125, .4);
}

input, textarea {
    color: #222;
    opacity: 0.5;
}


.form-control-error{
    border: 1px solid  #FB5050;
}