<!--Login Wrapper-->
<div class="loginone-wrapper mt-5 pt-xl-5">
    <ngx-spinner name="login">
        <p style="font-size: 20px; color: white">Connexion en cours...</p>
    </ngx-spinner>
	<div class="login-content text-center">
		<div class="login-inner-wrapper-2 shadow-box p-4">
			<div class="mb-4">
				<p class="text-muted font-weight-bold mb-0 letter-space-1">Bienvenue à AMBERO</p>
				<h2 class="font-weight-normal" style="color:#1A237E;">Connectez-vous à votre compte</h2>
			</div>
			<div *ngIf="internetError"  class="alert bg-danger fade show" role="alert">
					<strong>Internet Error! </strong> Vérifiez votre connection internet et essayez à nouveau.
				</div>
			<div *ngIf="userNotFound" class="alert alert-danger">
					Vos paramètres sont incorrectes !
			</div>
			<form [formGroup]="formLogin" class="login-form mt-3">

				<div class="form-group">
					<input name="phone_email" (change)="updateData()" [ngClass]="(formLogin.controls['email_or_phone'].dirty && !formLogin.controls['email_or_phone'].valid)?'form-control form-control-error':'form-control'"  [formControl]="formLogin.controls['email_or_phone']" type="text" placeholder="Email ou téléphone">
				</div>
				
				<div class="form-group">
					<input name="password" [ngClass]="(formLogin.controls['password'].dirty && !formLogin.controls['password'].valid)?'form-control form-control-error':'form-control'" [formControl]="formLogin.controls['password']" type="password"  placeholder="Mot de passe" >
                </div>
        
				<div class="mb-3">
					<button type="submit" class="btn btn-block btn-lg btn-square" style="background-color:#1A237E; color:#fff" [disabled]="formLogin.invalid" (click)="loginUser(formLogin.value)">Se Connecter</button>
				</div>

				<!-- <div class="mb-3">
					N' avez-vous pas un compte ? <a routerLink="/session/user/register" class="text-link"> Veuillez en  créer</a>
				</div> -->
			</form>
		</div>
		<!-- login form wrapper closed -->
	</div>
	<!-- login-one- wrapper closed -->
</div>