
<div class="loginone-wrapper pt-xl-5">
    <ngx-spinner name="update-user">
        <p style="font-size: 20px; color: white">Modification en cours...</p>
    </ngx-spinner>

    <div class="add-block-title mb-5">
        <div class="d-flex justify-content-end">
          <div class="d-flex align-self-center">
            <button class="btn btn-small" style="background-color:#e85f1c; color:#fff" (click)="logout()" >Déconnexion</button>
          </div>
        </div>
    </div>
  <div class="login-content text-center">
    <div class="login-inner-wrapper-2 shadow-box p-4">

        <div *ngIf="updateSuccess"  class="alert bg-success fade show" role="alert">
            <strong>Modification réussie! </strong> Vos informations ont été mis à jour.
        </div>

        <div *ngIf="internetError"  class="alert bg-danger fade show" role="alert">
            <strong>Internet Error! </strong> Vérifiez votre connection internet et essayez à nouveau.
        </div>
    
        <div *ngIf="dataError" class="alert alert-danger">
            Vos informations sont  incorrectes !
        </div>
  
      <form [formGroup]="formUpdateUser" class="login-form">

          <div class="mb-4">
              <h2 class="font-weight-normal" style="color:#1A237E;">MON PROFIL</h2>
            </div>
  
            <div *ngIf="roleError" class="alert alert-danger">
                Ce rôle n'existe pas !
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <label>Rôle : </label> 
                </div>
                <div class="col-9">
                    <select class="form-control" [attr.disabled]="true" (change)="updateRole()" [formControl]="formUpdateUser.controls['role_id']" >
                        <option disabled>Choisir un rôle</option>
                        <option *ngFor="let role of userRoles" [value]="role.id">{{role.title}}</option>
                  </select>
                </div>
              </div>
              <div *ngIf="formUpdateUser.controls['role_id'].dirty && !formUpdateUser.controls['role_id'].valid">
                    <p style="color: #e85f1c">Veuillez selectionner un rôle</p>
              </div>

              <div *ngIf="emailError" class="alert alert-danger">
                Cet email existe déjà !
            </div>  
            <div class="form-group">
              <input  name="email" [attr.disabled]="true" (change)="changeEmail()" [ngClass]="(formUpdateUser.controls['email'].dirty && !formUpdateUser.controls['email'].valid)?'form-control form-control-error':'form-control'" [formControl]="formUpdateUser.controls['email']" type="email" placeholder="Email">
            </div>

              <div *ngIf="usernameError" class="alert alert-danger">
                  Ce nom d'utilisateur existe déjà !
              </div>
              <div class="form-group">
                  <input name="username" [attr.disabled]="true" (change)="changeUsername()" [ngClass]="(formUpdateUser.controls['username'].dirty && !formUpdateUser.controls['username'].valid)?'form-control form-control-error':'form-control'"  [formControl]="formUpdateUser.controls['username']" type="text" placeholder="Nom d'utilisateur">
              </div>    

              <div *ngIf="phoneError" class="alert alert-danger">
                  Ce numéro existe déjà !
              </div>   
              <div class="form-group">
                <input name="phone"  (change)="changePhone()" [ngClass]="(formUpdateUser.controls['phone'].dirty && !formUpdateUser.controls['phone'].valid)?'form-control form-control-error':'form-control'"  [formControl]="formUpdateUser.controls['phone']" type="tel" placeholder="Téléphone">
              </div>

              <div class="form-group">
                <input name="password" [ngClass]="(formUpdateUser.controls['password'].dirty && !formUpdateUser.controls['password'].valid)?'form-control form-control-error':'form-control'" [formControl]="formUpdateUser.controls['password']" type="password"  placeholder="Mot de passe" >
              </div>
              
              <div class="form-group">
                <input name="cpassword" [ngClass]="(formUpdateUser.controls['cpassword'].dirty && !formUpdateUser.controls['cpassword'].valid)?'form-control form-control-error':'form-control'" [formControl]="formUpdateUser.controls['cpassword']"  type="password" placeholder="Confirmer le mot de passe" >
              </div>
          

            
              <div class="mb-3">
                <button type="submit" class="btn btn-block btn-lg btn-square" style="background-color:#1A237E; color:#fff" [disabled]="formUpdateUser.invalid" (click)="updateUser(formUpdateUser.value)">Modifier</button>
              </div>
       
      </form>
    </div>
  
  </div>
  
  </div>