
 <div class="d-flex justify-content-center mb-5">
  <div class="d-flex align-self-center">
    <h3>STATISTIQUES</h3>
  </div>
</div>

<div class="tab-wrappers">

  <ul class="nav nav-tabs nav-tabs-bottom mb-4" role="tablist">
     <li class="nav-item">
        <a class="nav-link {{ tabSelect ==1? 'active' : '' }}"  data-toggle="tab" role="tab" aria-controls="tabSelect ==1? 'active' : 'inactive'" aria-expanded="tabSelect ==1? 'true' : 'false'" (click)="selectedTab(1)" >CONSULTANTS INDIVIDUELS</a>
     </li>
     <li class="nav-item">
        <a class="nav-link {{ tabSelect ==2? 'active' : '' }}" data-toggle="tab"  role="tab" aria-controls="tabSelect ==2? 'active' : 'inactive'" aria-expanded="tabSelect ==2? 'true' : 'false'" (click)="selectedTab(2)" >CABINETS ET BUREAUX D'ETUDES</a>
     </li>
     <li class="nav-item">
        <a class="nav-link {{ tabSelect ==3? 'active' : '' }}" data-toggle="tab"  role="tab" aria-controls="tabSelect ==3? 'active' : 'inactive'" aria-expanded="tabSelect ==3? 'true' : 'false'" (click)="selectedTab(3)" >ONG, ASSOCIATION ET AUTRES</a>
     </li>
  </ul>

  <div class="tab-content" >
    <div role="tabpanel" class="tab-pane fade {{ tabSelect ==1? 'show active' : '' }}">  
      <!-- Composant des statistiques des consultants individuels -->
      <app-consultant-stats></app-consultant-stats>

    </div>
  
    <div class="tab-pane fade {{ tabSelect ==2? 'show active' : '' }}" role="tabpanel">
       <!-- Composant des statistiques des cabinets et bureaux d'etudes -->
       <app-cabinet-stats></app-cabinet-stats>
    </div> 

    <div class="tab-pane fade {{ tabSelect ==3? 'show active' : '' }}" role="tabpanel">
        <!-- Composant des statistiques des ONG -->
        <app-ong-stats></app-ong-stats>
     </div> 
  </div>

</div>