
<div *ngFor="let item of active"  class="mt-5">

    <div *ngIf="item=='noFilter'">
        <h3 class="filter-header" > Aucun Filtre</h3>
        <div class="row filter-container"  >
          <div class="col-1" >
              <input  type="checkbox" (change)="updateNoFilter()" name="checkboxes0" [ngModelOptions]="{standlalone:true}" [(ngModel)]="noFilter"> 
          </div>
          <div class="col">
            <span class="filler-elt"> Tous les éléments</span>
          </div>
        </div>
    </div>

  <div class="separator mt-2 mb-3" *ngIf="item == 'statut' && filterData && filterData[0] && filterData[0].length > 0"></div>

  <div *ngIf="item=='statut'">
    <h3 class="filter-header" *ngIf="filterData && filterData[0] && filterData[0].length > 0" > Statut</h3>
    <div class="row filter-container" *ngFor="let status of filterData[0]; let i=index" >
      <div class="col-1"  *ngIf="status.data">
          <input  type="checkbox" (change)="updateFilterStatus()" name="checkboxes1"  [ngModelOptions]="{standlalone:true}" [(ngModel)]="filterData[0][i].choice"> 
      </div>
      <div class="col"  *ngIf="status.data">
        <span class="filler-elt">  {{status.name}}( {{status.data}})</span>
      </div>
    </div>
  </div>

  <div class="separator mt-2 mb-3" *ngIf="item == 'domain' && filterData && filterData[1] && filterData[1].length > 0"></div>

  <div *ngIf="item=='domain'">
    <h3 class="filter-header" *ngIf="filterData  && filterData[1] && filterData[1].length > 0" > Domaine d'intervention</h3>
    <div class="row filter-container" *ngFor="let domain of domainesList; let i=index" >
      <div class="col-1"  *ngIf="domain.data">
          <input  type="checkbox" (change)="updateFilterDomaine()"  name="checkboxes2"  [ngModelOptions]="{standlalone:true}" [(ngModel)]="filterData[1][i].choice"> 
      </div>
      <div class="col" *ngIf="domain.data">
        <span class="filler-elt">  {{domain.name}}({{domain.data}}) </span>
      </div>
    </div>
  </div>

  <div class="separator mt-2 mb-3" *ngIf="item == 'profil' && filterData && filterData[2] && filterData[2].length > 0"></div>

  <div *ngIf="item == 'profil'"   >
      <h3 class="filter-header" *ngIf="filterData && filterData[2] && filterData[2].length > 0"> Profil</h3>
      <div class="row filter-container" *ngFor="let profil of filterData[2]; let j=index" >
          <div class="col-1" *ngIf="profil.data">
              <input  type="checkbox" (change)="updateFilterProfil()" name="checkboxes3"  [ngModelOptions]="{standlalone:true}" [(ngModel)]="filterData[2][j].choice"> 
          </div>
          <div class="col" *ngIf="profil.data">
             <span class="filler-elt"> {{profil.name}}({{profil.data}})</span>
          </div>
        </div>
  </div>

  <div  class="separator mt-2 mb-3" *ngIf="item == 'niveau' && filterData && filterData[3] && filterData[3].length > 0"></div>

  <div *ngIf="item == 'niveau'"  >
      <h3 class="filter-header"  *ngIf="filterData && filterData[3] && filterData[3].length > 0"> Niveaux</h3>
      <div class="row filter-container" *ngFor="let niveau of filterData[3]; let k=index" >
          <div class="col-1" *ngIf="niveau.data">
              <input  type="checkbox" (change)="updateFilterNiveau()" name="checkboxes4"  [ngModelOptions]="{standlalone:true}" [(ngModel)]="filterData[3][k].choice"> 
          </div>
          <div class="col"  *ngIf="niveau.data">
            <span class="filler-elt">{{niveau.name}}({{niveau.data}})</span>
          </div>
        </div>
  </div>

  <div  class="separator mt-2 mb-3" *ngIf="item == 'age' && filterData && filterData[4] && filterData[4].length > 0"></div>

  <div *ngIf="item == 'age'"  >
      <h3 class="filter-header"  *ngIf="filterData && filterData[4] && filterData[4].length > 0"> Age/Existence</h3>
      <div class="row filter-container" *ngFor="let age of filterData[4]; let k=index" >
          <div class="col-1" *ngIf="age.data">
              <input  type="checkbox" (change)="updateFilterAge()" name="checkboxes5" [ngModelOptions]="{standlalone:true}" [(ngModel)]="filterData[4][k].choice"> 
          </div>
          <div class="col"  *ngIf="age.data">
            <span class="filler-elt"> {{age.value}} {{age.name}}({{age.data}})</span>
          </div>
        </div>
  </div>

  <div  class="separator mt-2 mb-3" *ngIf="item == 'exp_geographique' && filterData && filterData[5] && filterData[5].length > 0"></div>

  <div *ngIf="item == 'exp_geographique'"  >
      <h3 class="filter-header"  *ngIf="filterData && filterData[5]  && filterData[5].length > 0"> Expérience Géographique</h3>
      <div class="row filter-container" *ngFor="let expgeo of filterData[5]; let k=index" >
          <div class="col-1" *ngIf="expgeo.data">
              <input  type="checkbox" (change)="updateFilterExpGeographique()" name="checkboxes6"  [ngModelOptions]="{standlalone:true}" [(ngModel)]="filterData[5][k].choice"> 
          </div>
          <div class="col"  *ngIf="expgeo.data">
            <span class="filler-elt">{{expgeo.name}}({{expgeo.data}})</span>
          </div>
        </div>
  </div>

  <!--<div  class="separator mt-2 mb-3" *ngIf="item == 'exp_professionel' && filterData && filterData[6] && filterData[6].length > 0"></div>

  <div *ngIf="item == 'exp_professionel'"  >
      <h3 class="filter-header"  *ngIf="filterData && filterData[6] && filterData[6].length > 0"> Expérience Professionnelle</h3>
      <div class="row filter-container" *ngFor="let exppro of filterData[6]; let k=index" >
          <div class="col-1" *ngIf="exppro.data">
              <input  type="checkbox" (change)="updateFilterExpProfessionnel()" name="checkboxes7"  [ngModelOptions]="{standlalone:true}" [(ngModel)]="filterData[6][k].choice"> 
          </div>
          <div class="col"  *ngIf="exppro.data">
            <span class="filler-elt">{{exppro.value}} {{exppro.name}}({{exppro.data}})</span>
          </div>
        </div>
  </div> -->

  <div  class="separator mt-2 mb-3" *ngIf="item == 'genre' && filterData && filterData[7] && filterData[7].length > 0"></div>

  <div *ngIf="item == 'genre'"  >
      <h3 class="filter-header"  *ngIf="filterData && filterData[7] && filterData[7].length > 0"> Genre</h3>
      <div class="row filter-container" *ngFor="let genre of filterData[7]; let k=index" >
          <div class="col-1" *ngIf="genre.data">
              <input  type="checkbox" (change)="updateFilterGenre()" name="checkboxes8"  [ngModelOptions]="{standlalone:true}" [(ngModel)]="filterData[7][k].choice"> 
          </div>
          <div class="col"  *ngIf="genre.data">
            <span class="filler-elt">{{genre.name}}({{genre.data}})</span>
          </div>
        </div>
  </div>

  <div class="separator mt-2 mb-3" *ngIf="item == 'experience'"></div>

  <div *ngIf="item == 'experience'" >
      <h3 class="filter-header"> Experience</h3>
      <div *ngIf="nbExperienceMin > nbExperienceMax">
        <p style="color: red; font-size: 9px">L'expérience minimum doit être inférieur à l'expérience maximum.</p>
      </div>
      <div class="row no-gutters mt-1">
          <div class="col-2">
              <span class="filler-elt">Min</span>
          </div>
          <div class="col-10">
              <input  type="range" style="width:100%" (change)="updateFilerExperience()"  name="experience" min="0"  max="25"  step="1" [ngModelOptions]="{standlalone:true}" [(ngModel)]="nbExperienceMin"> 
          </div>
      </div>
      <div class="row  no-gutters justify-content-betwen">
          <div class="col-1 offset-2 align-item-start"><span class="filler-elt">0</span></div>
          <div class="col-1 offset-3"><span class="filler-elt"><strong>{{nbExperienceMin}}</strong></span></div>
          <div class="col-2 offset-3 align-item-end"><span class="filler-elt">25(Ans)</span></div>
      </div>
      <div class="row no-gutters mt-1">
          <div class="col-2">
              <span class="filler-elt">Max</span>
          </div>
          <div class="col-10">
              <input  type="range" style="width:100%"  (change)="updateFilerExperience()" name="experience" min="0"  max="25"  step="1" [ngModelOptions]="{standlalone:true}" [(ngModel)]="nbExperienceMax"> 
          </div>
      </div>
      <div class="row no-gutters justify-content-betwen">
          <div class="col-1 offset-2 align-item-start"><span class="filler-elt">0</span></div>
          <div class="col-1 offset-3"><span class="filler-elt"><strong>{{nbExperienceMax}}</strong> </span></div>
          <div class="col-2 offset-3 align-item-end"><span class="filler-elt">25(Ans)</span></div>
      </div>
  </div>

</div>
