.filter-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7rem;
}

.separator{
    border-bottom: 1px solid rgba(125,125,125, .3);
}

.filler-elt {
    font-size: 0.6rem;
}

.filter-container {
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 3px;
    scroll-margin: 1px;
    scroll-padding:  0px;
}