
.form-header {
    border-bottom: 1px solid rgba(125,125,125, .4);
}

.form-border { 
    border: 1px solid rgba(125,125,125, .4);
}

.file-header { 
    background-color: #EEEEEE;
    height: 41px;
}

.file-contentainer {
    border: 1px dashed rgba(125,125,125, .3);
    text-align: center;
    height: 200px;
    padding: auto;

    input { 
        display: block;
        margin: auto;
    }

}

.profil-content, .domain-content{
    height: 298px;
}

.separator {

    hr {
        display: inline;
        border-bottom-color: #222;
    }
}

.content-header {

    h3 {
        font-size: 10px;
        color: #222;
    }
}

.indictor-message{
    font-size: 8px;
    color: #222;
    opacity: .5;
}

.form-wrappeer{
    background-color:#fff;
}

.domain-zone{
    font-size: 12px;
    max-width: 200px;
    height:auto;
}

.domain-choice {
    background-color: #EEEEEE;
    text-align: center;
    .col,.col-2 {
        border: 1px solid  #222;
    }
}

.mat-icon.material-icons.close{
    font-size: 15px;
}

label { 
    font-size: 12px;
    color: #222;
}

input {
    color: #222;
    opacity: 0.5;
}

.experience-text{
    font-size: 10px;
}

.form-control-error{
    border: 1px solid  #FB5050;
}


.scrollTop {
    border: 1px solid #222;
    background-color: #222;
    opacity: .4;
    color: #fff;
    text-align: center;
    font-weight: bold;
    height: 30px;
    width: 30px;
}
