<ngx-spinner name="consultant">
        <p style="font-size: 20px; color: white">Enregistrement en cours...</p>
</ngx-spinner>

<div [ngClass]="{'form-wrappeer':bottomup, 'form-wrappeer animated fadeInUp':bottomup}" id="top">

     


        <div class="add-block-title mb-5">
                <div class="d-flex justify-content-start">
                        <div class="d-flex align-self-center">
                                <button class="btn btn-small" style="background-color:#1A237E;color:#fff"
                                        (click)="backButton()">Retour</button>
                        </div>
                </div>
        </div>

        <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">


                        <form [formGroup]="formConsultant">


                                <div class="form-header">
                                        <h3>Ajout de consultant</h3>
                                </div>

                                <!-- Filiation -->
                                <div class="row row mt-3">
                                        <div class="col-2">
                                                <h6>Filiation</h6>
                                        </div>
                                </div>

                                <div class="form-border p-3">

                                        <div class="row justify-content-between">
                                                <div class="col-5">
                                                        <div class="form-group">
                                                                <label>Nom(s) : </label>
                                                                <input [ngClass]="(formConsultant.controls['nom'].dirty && !formConsultant.controls['nom'].valid)?'form-control form-control-error':'form-control'"
                                                                        type="text" placeholder="Entrez le nom"
                                                                        [formControl]="formConsultant.controls['nom']" />
                                                        </div>
                                                </div>

                                                <div class="col-5">
                                                        <div class="form-group">
                                                                <label>Prénom(s) : </label>
                                                                <input [ngClass]="(formConsultant.controls['prenom'].dirty && !formConsultant.controls['prenom'].valid)?'form-control form-control-error':'form-control'"
                                                                        type="text" placeholder="Entrez le prénom"
                                                                        [formControl]="formConsultant.controls['prenom']" />
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="row justify-content-between">
                                                <div class="col-5">
                                                        <label>Date de naissance : </label>
                                                        <input class="form-control"
                                                                [ngClass]="(formConsultant.controls['dateNaissance_view'].dirty && !formConsultant.controls['dateNaissance_view'].valid)?'form-control form-control-error':'form-control'"
                                                                type="date" placeholder="Entrez la date"
                                                                [formControl]="formConsultant.controls['dateNaissance_view']" />
                                                </div>
                                                <div class="col-5">
                                                        <div class="row no-gutters">
                                                                <div class="col-3 col-md-3 col-lg-3 col-xl-3 mt-1"> Sexe
                                                                        :</div>
                                                                <div class="col-2 col-md-2 col-lg-1 col-xl-1">
                                                                        <input class="form-control" type="radio"
                                                                                name="sexe" [value]="'M'"
                                                                                [formControl]="formConsultant.controls['sexe']" />
                                                                </div>
                                                                <div class="col-2 col-md-2 col-lg-2 col-xl-2 mt-1">
                                                                        <p class="text-left">Masculin</p>
                                                                </div>
                                                                <div class="col-2 col-md-2 col-lg-1 col-xl-1 offset-1">
                                                                        <input class="form-control" type="radio"
                                                                                name="sexe" [value]="'F'"
                                                                                [formControl]="formConsultant.controls['sexe']" />
                                                                </div>
                                                                <div class="col-2 col-md-2 col-lg-2 col-xl-2 mt-1">
                                                                        <p class="text-left">Féminin</p>
                                                                </div>
                                                        </div>
                                                        <div
                                                                *ngIf="formConsultant.controls['sexe'].dirty && !formConsultant.controls['sexe'].valid">
                                                                <p style="color: #e85f1c">Veuillez cocher le sexe</p>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="row justify-content-between">
                                                <div class="col-5">
                                                        <div class="form-group">
                                                                <label>Pays de résidence : </label>
                                                                <select class="form-control"
                                                                        [formControl]="formConsultant.controls['pays']">
                                                                        <option disabled>Choisir un pays</option>
                                                                        <option *ngFor="let pays of countriesList"
                                                                                [value]="pays.name">{{pays.name}}
                                                                        </option>
                                                                </select>
                                                        </div>
                                                        <div
                                                                *ngIf="formConsultant.controls['pays'].dirty && !formConsultant.controls['pays'].valid">
                                                                <p style="color: #e85f1c">Veuillez selectionner un pays
                                                                </p>
                                                        </div>
                                                </div>
                                                <div class="col-5">
                                                        <div class="form-group">
                                                                <label>Ville : </label>
                                                                <input [ngClass]="(formConsultant.controls['ville'].dirty && !formConsultant.controls['ville'].valid)?'form-control form-control-error':'form-control'"
                                                                        type="text" placeholder="Entrez la ville"
                                                                        [formControl]="formConsultant.controls['ville']" />
                                                        </div>
                                                </div>
                                        </div>

                                </div>

                                <!-- Contacts-->

                                <div class="row row mt-3">
                                        <div class="col">
                                                <h6>Contacts</h6>
                                        </div>
                                </div>
                                <div class="form-border p-3">

                                        <div class="row justify-content-around">
                                                <div class="col-10">
                                                        <div class="form-group">
                                                                <label>Adresse : </label>
                                                                <input [ngClass]="(formConsultant.controls['adresse'].dirty && !formConsultant.controls['adresse'].valid)?'form-control form-control-error':'form-control'"
                                                                        type="text" placeholder="Entrez l'adresse"
                                                                        [formControl]="formConsultant.controls['adresse']" />
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="row justify-content-around">
                                                <div class="col-10">
                                                        <div class="form-group">
                                                                <label>Téléphone : </label>
                                                                <input [ngClass]="(formConsultant.controls['liste_telephone_view'].dirty && !formConsultant.controls['liste_telephone_view'].valid)?'form-control form-control-error':'form-control'"
                                                                        type="text" placeholder="Entrez le numéro"
                                                                        [formControl]="formConsultant.controls['liste_telephone_view']" />
                                                                <p class="indictor-message">Vous pouvez ajouter
                                                                        plusieurs numéros séparées par des virgules</p>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="row justify-content-around">
                                                <div class="col-10">
                                                        <div class="form-group">
                                                                <label>Courriel : </label>
                                                                <input [ngClass]="(formConsultant.controls['liste_courriel_view'].dirty && !formConsultant.controls['liste_courriel_view'].valid)?'form-control form-control-error':'form-control'"
                                                                        type="text" placeholder="Entrez l'email"
                                                                        [formControl]="formConsultant.controls['liste_courriel_view']" />
                                                                <p class="indictor-message">Vous pouvez ajouter
                                                                        plusieurs email séparées par des virgules</p>
                                                        </div>
                                                </div>
                                        </div>


                                </div>



                                <!-- Formation, Etude et Expériences -->

                                <div class="row mt-3">
                                        <div class="col">
                                                <h6>Formation, Etude et Expériences</h6>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-9 col-md-9 col-lg-9 col-xl-9">

                                                <div class="profil-content form-border p-3">

                                                        <div class="row justify-content-between">
                                                                <div class="col-5">
                                                                        <div class="form-group">
                                                                                <label>Niveau de formation : </label>
                                                                                <select class="form-control"
                                                                                        [formControl]="formConsultant.controls['niveau_formation_id']">
                                                                                        <option disabled>Choisir un
                                                                                                niveau</option>
                                                                                        <option *ngFor="let niveau of formationsList"
                                                                                                [value]="niveau.id">
                                                                                                {{niveau.intitule}}
                                                                                        </option>
                                                                                </select>
                                                                        </div>
                                                                        <div *ngIf="levelError">
                                                                                <p style="color: #e85f1c">Veuillez
                                                                                        selectionner un niveau</p>
                                                                        </div>
                                                                </div>
                                                                <div class="col-5">
                                                                        <div class="form-group">
                                                                                <label> Profil : </label>
                                                                                <select class="form-control"
                                                                                        [formControl]="formConsultant.controls['liste_profil_view']">
                                                                                        <option disabled>Choisir le
                                                                                                profil</option>
                                                                                        <option *ngFor="let profil of profilList"
                                                                                                [value]="profil.id">
                                                                                                {{profil.intitule}}
                                                                                        </option>
                                                                                </select>
                                                                        </div>
                                                                </div>
                                                                <div *ngIf="profilError">
                                                                        <p style="color: #e85f1c">Veuillez selectionner
                                                                                un niveau</p>
                                                                </div>
                                                        </div>

                                                        <div class="row justify-content-between">
                                                                <div class="col-5">
                                                                        <div class="form-group">
                                                                                <label>Date de 1ère Expérience
                                                                                        professionnelle : </label>
                                                                                <input [ngClass]="(formConsultant.controls['date1ereExperiencePro_view'].dirty && !formConsultant.controls['date1ereExperiencePro_view'].valid)?'form-control form-control-error':'form-control'"
                                                                                        type="date"
                                                                                        placeholder="Entrez la date"
                                                                                        [formControl]="formConsultant.controls['date1ereExperiencePro_view']" />
                                                                        </div>
                                                                </div>
                                                                <div class="col-5">
                                                                        <div class="form-group">
                                                                                <label>Date de 1ère Expérience en tant
                                                                                        que consultant : </label>
                                                                                <input [ngClass]="(formConsultant.controls['date1ereExperienceEnTantQueConsultant_view'].dirty && !formConsultant.controls['date1ereExperienceEnTantQueConsultant_view'].valid)?'form-control form-control-error':'form-control'"
                                                                                        type="date"
                                                                                        placeholder="Entrez la date"
                                                                                        [formControl]="formConsultant.controls['date1ereExperienceEnTantQueConsultant_view']" />
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="row justify-content-between">
                                                                <div class="col-5">
                                                                        <div class="form-group">
                                                                                <label>Expérience Géographique :
                                                                                </label>
                                                                                <select class="form-control"
                                                                                        [formControl]="formConsultant.controls['liste_experience_geographique_view']">
                                                                                        <option disabled>Choisir une
                                                                                                expérience géographique
                                                                                        </option>
                                                                                        <option *ngFor="let experience of experienceList"
                                                                                                [value]="experience.id">
                                                                                                {{experience.intitule}}
                                                                                        </option>
                                                                                </select>
                                                                        </div>
                                                                        <div *ngIf="experienceError">
                                                                                <p style="color: #e85f1c">Veuillez
                                                                                        selectionner une expérience</p>
                                                                        </div>

                                                                </div>
                                                                <div class="col-5">
                                                                        <div class="form-group">
                                                                                <label>Experience avec :</label>
                                                                                <div class="row no-gutters">
                                                                                        <div
                                                                                                class="col-2  col-md-1 col-lg-1 col-xl-1">
                                                                                                <input class="form-control"
                                                                                                        type="checkbox"
                                                                                                        name="cooperation"
                                                                                                        [formControl]="formConsultant.controls['experienceAvecCooperationAllemande_view']" />
                                                                                        </div>

                                                                                        <div
                                                                                                class="col-9 col-md-9 col-lg-9 col-xl-9 mt-2">
                                                                                                <p
                                                                                                        class="experience-text">
                                                                                                        La Coopération
                                                                                                        Allemande</p>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="row no-gutters">
                                                                                        <div
                                                                                                class="col-2  col-md-1 col-lg-1 col-xl-1">
                                                                                                <input class="form-control"
                                                                                                        type="checkbox"
                                                                                                        name="autresPartenaires"
                                                                                                        [formControl]="formConsultant.controls['experienceAvecLesAutresPartenaires_view']" />
                                                                                        </div>

                                                                                        <div
                                                                                                class="col-9 col-md-9 col-lg-9 col-xl-9 mt-2">
                                                                                                <p
                                                                                                        class="experience-text">
                                                                                                        Les autres
                                                                                                        partenaires de
                                                                                                        la coopération
                                                                                                </p>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>

                                        </div>

                                        <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                                                <app-add-profil></app-add-profil>
                                        </div>
                                </div>

                                <!-- Domaine d'expertise et experience(s) professionnelle(s) -->

                                <div class="row mt-3">
                                        <div class="col">
                                                <h6>Domaine d'expertise et expérience(s) et professionnelle(s)</h6>
                                        </div>
                                </div>

                                <div class="row">
                                        <div class="col-9 col-md-9 col-lg-9 col-xl-9">
                                                <div class="form-border domain-content p-3">

                                                        <!-- Domaines d'expertise choisies -->

                                                        <div class="row"
                                                                *ngIf="listDomaines && listDomaines.length > 0">
                                                                <div class="col domain-zone m-1"
                                                                        *ngFor="let domain of listDomaines; let i=index">
                                                                        <div
                                                                                class="row no-gutters domain-choice justify-content-center m-1">
                                                                                <div class="col p-1">
                                                                                        <strong>{{domain.nomDomaine.length <= 12 ? domain.nomDomaine : domain.nomDomaine.substring(0,11) + '...'}}
                                                                                        </strong>
                                                                                </div>
                                                                                <div class="col-2 p-1">
                                                                                        <strong>{{domain.nbre_consultation}}</strong>
                                                                                </div>
                                                                                <div class="col-2"
                                                                                        (click)="removeDomaine(i)">
                                                                                        <i
                                                                                                class="mat-icon material-icons">close</i>
                                                                                </div>
                                                                        </div>

                                                                </div>
                                                        </div>

                                                        <div class="row mt-3">
                                                                <div class="col-6">
                                                                        <div class="form-group">
                                                                                <label> Domaine : </label>
                                                                                <select class="form-control"
                                                                                        [ngModelOptions]="{standalone: true}"
                                                                                        [(ngModel)]="domaine">
                                                                                        <option disabled>Choisir un
                                                                                                domaine</option>
                                                                                        <option *ngFor="let domain of domainesList; let i=index"
                                                                                                [value]="i">
                                                                                                {{domain.intitule}}
                                                                                        </option>
                                                                                </select>
                                                                        </div>
                                                                        <div *ngIf="domainError">
                                                                                <p style="color: #e85f1c">Veuillez
                                                                                        selectionner un domaine</p>
                                                                        </div>
                                                                </div>
                                                                <div class="col-4">
                                                                        <div class="form-group">
                                                                                <label>Nombre de consultation : </label>
                                                                                <input class="form-control" type="text"
                                                                                        placeholder="Entrez le nombre"
                                                                                        [ngModelOptions]="{standalone: true}"
                                                                                        [(ngModel)]="nbreConsultant" />
                                                                        </div>
                                                                </div>
                                                                <div class="col-2 mt-4">
                                                                        <button class="btn btn-small"
                                                                                [disabled]="!domaine||!nbreConsultant  || listDomaines.length==5"
                                                                                style="background-color:#1A237E; color: #ffffff"
                                                                                (click)="addDomaine()"> AJOUTER</button>
                                                                </div>
                                                        </div>

                                                </div>


                                        </div>

                                        <div class="col-3 col-md-3 col-lg-3 col-xl-3">
                                                <app-add-domain></app-add-domain>
                                        </div>
                                </div>

                                <!-- CV et Statut-->

                                <div class="row mt-3">
                                        <div class="col-2">
                                                <h6>CV(s)</h6>
                                        </div>
                                        <div class="col-2 offset-5">
                                                <h6>Status</h6>
                                        </div>
                                </div>

                                <div class="row justify-content-between p-3">
                                        <div class="col-6 form-border p-3">

                                                <div class="row file-header m-2 p-2"
                                                        *ngFor="let file of listCvs; let j=index">
                                                        <div class="col-9">
                                                                {{file.filename}}
                                                        </div>
                                                        <div class="col-1 offset-1">
                                                                <!-- <i class="mat-icon material-icons">edit</i>-->
                                                        </div>
                                                        <div class="col-1" (click)="removeCv(j)">
                                                                <i class="mat-icon material-icons">close</i>
                                                        </div>
                                                </div>

                                                <div class="file-contentainer m-2 p-5">
                                                        <!--  <p style="font-size: 8px;">Déposer le fichier ici</p>
                      <p>_<span style="font-size: 8px;"> ou </span>_</p>
                       <button class="btn" style="background-color:#9E9E9E; color: #fff" (click)="addCv()" >PARCOURIR</button> -->
                                                        <div class="text-center">
                                                                <p>Veuillez choisir un ou plusieurs fichier(s) au format
                                                                        PDF</p>
                                                        </div>
                                                        <div class="form-group">
                                                                <input style="background-color:#9E9E9E; color: #fff"
                                                                        type="file" *ngIf="uploader" ng2FileSelect
                                                                        [uploader]="uploader"
                                                                        (change)="onFilePdf($event)" />
                                                        </div>

                                                </div>
                                                <div *ngIf="pdfAddError">
                                                        <p style="color: #e85f1c"> Une erreur est survenue lors de
                                                                l'importation du fichier. Essayer à nouveau</p>
                                                </div>
                                                <div *ngIf="doctypeError">
                                                        <p style="color: #e85f1c"> Veuillez choisir un document au
                                                                format PDF</p>
                                                </div>
                                        </div>

                                        <div class="col-5 form-border p-3">

                                                <div class="form-group">
                                                        <label>Statut : </label>
                                                        <select class="form-control"
                                                                [formControl]="formConsultant.controls['statut_id']">
                                                                <option disabled>Choisir un statut</option>
                                                                <option *ngFor="let statut of statutList"
                                                                        [value]="statut.id">{{statut.intitule}}</option>
                                                        </select>
                                                </div>
                                                <div *ngIf="statutIdError">
                                                        <p style="color: #e85f1c">Veuillez selectionner un statut</p>
                                                </div>

                                                <div class="form-group">
                                                        <label>Disponibilité : </label>
                                                        <select class="form-control"
                                                                [formControl]="formConsultant.controls['disponibilite_id']">
                                                                <option disabled>Choisir une Disponibilité</option>
                                                                <option *ngFor="let dispo of disponibilites"
                                                                        [value]="dispo.id">{{dispo.intitule}}</option>
                                                        </select>
                                                </div>
                                                <div *ngIf="disponibilyError">
                                                        <p style="color: #e85f1c">Veuillez selectionner une
                                                                Disponibilité</p>
                                                </div>

                                                <div class="form-group">
                                                        <label>Recommandation : </label>
                                                      <!--   <select class="form-control"
                                                                [formControl]="formConsultant.controls['recommandation_id']">
                                                                <option disabled>Choisir une recommandation</option>
                                                                <option *ngFor="let recom of recommandationsList"
                                                                        [value]="recom.id">{{recom.intitule}}</option>
                                                        </select> -->
                                                        <input class="form-control" type="text"
                                                        placeholder="Entrer un texte"
                                                        [formControl]="formConsultant.controls['recommandation_name']" />
                                                </div>
                                                <div *ngIf="recommandationError">
                                                        <p style="color: #e85f1c">Veuillez selectionner une
                                                                recommandation</p>
                                                </div>
                                        </div>
                                </div>




                                <!-- button save -->

                                <div class="add-block-title mb-5 mt-5">
                                        <div class="row">

                                                <div class="col">
                                                        <div class="d-flex justify-content-start">
                                                                <div class="d-flex align-self-center">
                                                                        <button class="btn btn-small"
                                                                                style="background-color:#e85f1c; color: #ffffff"
                                                                                (click)="confirmDialogCancel()">Annuler</button>
                                                                </div>
                                                        </div>

                                                </div>
                                                <div class="col">
                                                        <div class="d-flex justify-content-end">
                                                                <div class="d-flex align-self-center">
                                                                        <button class="btn btn-small"
                                                                                style="background-color:#1A237E; color: #ffffff"
                                                                                [disabled]="formConsultant.invalid"
                                                                                (click)="addConsultant(formConsultant.value)">ENREGISTRER</button>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </form>

                </div>

        </div>

</div>

<div class="row justify-content-around" (click)="scrollTop()">
        <div class="col-1">
                <div class="scrollTop">
                        <i class="mat-icon material-icons">arrow_upward</i>
                </div>
        </div>
</div>