
<!-- Page wraper -->
<div class="page-wrap">

  <!-- Page header -->
    <div class="header-content">

      <div class="row mt-3">
        <div class="col-4 header-logo">
          <img src="assets/img/giz_logo.png" width="291px" height="90px">
        </div>

        <div class="col-3 offset-5 header-logo">
            <img src="assets/img/ambero.png" width="197px" height="90px">
        </div>
      </div>

    </div>


    <!-- Page nav menu  -->
    <div class="row header-bar mt-3 no-gutters">
        <!-- Name 
        <div class="col-3 col-lg-3 col-xl-3 m-3">
            <span class="name-ambero">AMBERO</span> <span class="name-tiret">-</span> <span class="name-expert">Experts</span>
        </div>-->
    </div>

    <!-- Router oulet zone -->
    <div class="menu-container">
            <div class="inner-container">
              <router-outlet></router-outlet>
              <div style="height: 50px;"></div>
            </div>
    </div>


    <!--Footer zone -->
    <div class="d-flex footer-content">
    </div>

</div>
