<div class="add-block" [ngSwitch]="activePannel" >

  <div  *ngSwitchCase="'option'"> 

    <div class="add-block-title mb-5">
      <div class="row">
          <div class="col">
              <div class="d-flex justify-content-start">
                  <div class="d-flex align-self-center">
                    <button class="btn btn-small" style="background-color:#1A237E; color: #fff;" (click)="backButton()" >Retour</button>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="d-flex justify-content-end">
                  <div class="d-flex align-self-center">
                    <button class="btn btn-small" style="background-color:#e85f1c; color: #fff;" (click)="cancel()" >Annuler</button>
                  </div>
                </div>
          </div>
      </div>

    
    </div>
 
    <div class="add-block-content mb-5">

      <div class="row align-items-center justify-content-between">

        <div class="col-3 col-lg-3 col-xl-3 category-content" *ngFor="let cat of categoryList; let i=index">

          <div class="row category-data align-items-center no-gutters">
            <div class="col m-3"> {{cat.name }} </div>
            <div class="col-2 cat-radio">
                <input  type="radio" [checked]="categoryList[i].choice"  name="radios" [value]="cat.value" [ngModelOptions]="{standlalone:true}" [(ngModel)]="categoryList[i].choice"> 
            </div>
          </div>
         
        </div>
      </div>

    </div>

    <div class="add-block-title mb-5">
        <div class="d-flex justify-content-end">
          <div class="d-flex align-self-center">
            <button class="btn btn-small"  style="background-color:#1A237E; color:#fff" (click)="nextPanel()" >
              Suivant
            </button>
          </div>
        </div>
      </div>

    </div>

    <div  *ngSwitchCase="'registration'">
      <div *ngIf="selectedCategory== 'consultant'">
        <app-add-consultant (cancelled)="handleConsultant($event)"></app-add-consultant>

      </div>

      <div *ngIf="selectedCategory== 'cabinet'">
          <app-add-cabinet (cancelled)="handleCabinet($event)"></app-add-cabinet>
      </div>

      <div *ngIf="selectedCategory== 'ong'">
          <app-add-ong (cancelled)="handleOng($event)"></app-add-ong>
      </div>

    </div>

</div>