

.category-content{

    background-color:  #F57C00;
    color: #fff;
    height: 115px;
    width: auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-overflow: inherit;
    text-align: left;
    margin-right: 10px;
}

.category-data{
    height: 105px;
}

input.cat-radio{
    display: inline-block;
    font-size: 25px;
    border-color: #222;
    border-style: solid;
    border-width: 2px;
}


.cat-radio:checked{
    background-color: #222;
}