<!--Profil Wrapper-->
<ngx-spinner name="add-profil">
	<p style="font-size: 20px; color: white">Ajout en cours...</p>
</ngx-spinner>

<div class="form-border  profil-wrapper p-3">

	<div class="mt-5">
				<div class="form-header mb-3">
					<h3>Ajouter un profil</h3>
				</div>
			
				<div *ngIf="intituleNotFound">
					<p style="color: #e85f1c"> Veuillez renseigner l'intitulé</p>
				</div>

				<div *ngIf="intituleAlreadyExist">
					<p style="color: #e85f1c"> Cette intitulé existe déjà !</p>
				</div>
				<div *ngIf="updateSuccess"  class="alert bg-success fade show" role="alert">
						<strong>Ajout réussi! </strong> Le profil a été ajouté.
				</div>
					
				 <div *ngIf="internetError"  class="alert bg-danger fade show" role="alert">
						<strong>Internet Error! </strong> Vérifiez votre connection internet et essayez à nouveau.
				 </div>
				<form [formGroup]="formAddProfil">

					<div class="row justify-content-around"> 
						<div class="col-10">
							<div class="form-group">
								<input name="intitule" [ngClass]="(formAddProfil.controls['intitule'].dirty && !formAddProfil.controls['intitule'].valid)?'form-control form-control-error':'form-control'"  [formControl]="formAddProfil.controls['intitule']" type="text" placeholder="Intitulé">
							</div>
						</div>
					</div>
					
					<div class="row justify-content-around"> 
					 	<div class="col-10">
							<div class="form-group">
								<textarea name="description" rows="3" [ngClass]="(formAddProfil.controls['description'].dirty && !formAddProfil.controls['description'].valid)?'form-control form-control-error':'form-control'" [formControl]="formAddProfil.controls['description']" type="password"  placeholder="Description" ></textarea>
							</div>
						</div>
					</div>
			
				 <div class="row justify-content-center mb-2"> 
							<button type="submit" class="btn btn-small" style="background-color:#1A237E; color:#fff" [disabled]="formAddProfil.invalid" (click)="addProfil(formAddProfil.value)">Enregistrer</button>
				</div>
		
			</form>
	</div>
</div>