<div class="tab-wrappers">

    <ul class="nav nav-tabs nav-tabs-bottom mb-4" role="tablist">
       <li class="nav-item">
          <a class="nav-link {{ tabSelect ==1? 'active' : '' }}"  data-toggle="tab" role="tab" aria-controls="tabSelect ==1? 'active' : 'inactive'" aria-expanded="tabSelect ==1? 'true' : 'false'" (click)="selectedTab(1)" >LISTE DES COMPTES</a>
       </li>
       <li class="nav-item" *ngIf="userData == 'admin'">
          <a class="nav-link {{ tabSelect ==2? 'active' : '' }}" data-toggle="tab"  role="tab" aria-controls="tabSelect ==2? 'active' : 'inactive'" aria-expanded="tabSelect ==2? 'true' : 'false'" (click)="selectedTab(2)" >AJOUTER UN COMPTE</a>
       </li>
    </ul>
  
    <div class="tab-content" >
      <div role="tabpanel" class="tab-pane fade {{ tabSelect ==1? 'show active' : '' }}">  
        <!-- Liste des utilisateurs -->
        <app-user-list></app-user-list>
      </div>
    
      <div   class="tab-pane fade {{ tabSelect ==2? 'show active' : '' }}" role="tabpanel">
         <!-- Ajout des utilisateurs -->
         <app-add-user></app-add-user>
      </div> 
  
    </div>
  
  </div>