/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}


@media screen {
  @import 'node_modules/bootstrap/scss/bootstrap';
}