
<div class="loginone-wrapper mt-5 pt-xl-5">
  <ngx-spinner name="register">
      <p style="font-size: 20px; color: white">Enregistrement en cours...</p>
  </ngx-spinner>
<div class="login-content text-center">
  <div class="login-inner-wrapper-2 shadow-box p-4">
    <div class="mb-4">
      <p class="text-muted font-weight-bold mb-0 letter-space-1">Bienvenue à AMBERO</p>
      <h2 class="font-weight-normal" style="color:#1A237E;">Créer votre compte</h2>
    </div>

    <div *ngIf="internetError"  class="alert bg-danger fade show" role="alert">
        <strong>Internet Error! </strong> Vérifiez votre connection internet et essayez à nouveau.
    </div>

    <div *ngIf="dataError" class="alert alert-danger">
        Vos informations sont  incorrectes !
    </div>
    <form [formGroup]="formRegister" class="login-form mt-3">


        <div *ngIf="roleError" class="alert alert-danger">
            Ce rôle n'existe pas !
        </div>
          <div class="row form-group">
              <div class="col-3">
                  <label>Rôle : </label> 
              </div>
              <div class="col-9">
                  <select class="form-control" (change)="updateRole()" [formControl]="formRegister.controls['role_id']" >
                      <option disabled>Choisir un rôle</option>
                      <option *ngFor="let role of userRoles" [value]="role.id">{{role.title}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="formRegister.controls['role_id'].dirty && !formRegister.controls['role_id'].valid">
                  <p style="color: #e85f1c">Veuillez selectionner un rôle</p>
          </div>

        <div *ngIf="usernameError" class="alert alert-danger">
            Ce nom d'utilisateur existe déjà !
        </div>
        <div class="form-group">
            <input name="username" (change)="changeUsername()" [ngClass]="(formRegister.controls['username'].dirty && !formRegister.controls['username'].valid)?'form-control form-control-error':'form-control'"  [formControl]="formRegister.controls['username']" type="text" placeholder="Nom d'utilisateur">
        </div>

       <div *ngIf="phoneError" class="alert alert-danger">
              Ce numéro existe déjà !
       </div>   
      <div class="form-group">
        <input name="phone" (change)="changePhone()" [ngClass]="(formRegister.controls['phone'].dirty && !formRegister.controls['phone'].valid)?'form-control form-control-error':'form-control'"  [formControl]="formRegister.controls['phone']" type="tel" placeholder="Téléphone">
      </div>

      <div *ngIf="emailError" class="alert alert-danger">
          Cet email existe déjà !
      </div>  
      <div class="form-group">
        <input  name="email" (change)="changeEmail()"  [ngClass]="(formRegister.controls['email'].dirty && !formRegister.controls['email'].valid)?'form-control form-control-error':'form-control'" [formControl]="formRegister.controls['email']" type="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input name="password" [ngClass]="(formRegister.controls['password'].dirty && !formRegister.controls['password'].valid)?'form-control form-control-error':'form-control'" [formControl]="formRegister.controls['password']" type="password"  placeholder="Mot de passe" >
      </div>
      
      <div class="form-group">
        <input name="cpassword" [ngClass]="(formRegister.controls['cpassword'].dirty && !formRegister.controls['cpassword'].valid)?'form-control form-control-error':'form-control'" [formControl]="formRegister.controls['cpassword']"  type="password" placeholder="Confirmer le mot de passe" >
      </div>
  
      <div class="mb-3">
        <button type="submit" class="btn btn-block btn-lg btn-square" style="background-color:#1A237E; color:#fff" [disabled]="formRegister.invalid" (click)="registerUser(formRegister.value)">Se Connecter</button>
      </div>
      <div class="mb-3">
          Avez-vous un compte ? <a routerLink="/session/user/login" class="text-link"> Veuillez-vous connectez</a>
      </div>
  
    </form>
  </div>
</div>
</div>