<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="stats-wrapper"> 

    <!-- Tableaux des statitiques-->

    <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="activeOngstat && activeOngstat.length > 0">
        <div class="d-flex align-self-center">
          <h6>Resultat en fonction du nombre d'ONG</h6>
        </div>
      </div>

    <div class="d-flex justify-content-center">

      <!-- Data zone -->
        <div class="tab-content">
           <div class="table-responsive">
                  <table class="table table-striped mb-0" *ngIf="activeOngstat && activeOngstat.length >0">
                    <thead>
                      <tr class="text-muted font-sm">
                        <th scope="col">Domaines d'intervention</th>
                        <th scope="col">Nombre ONG/Association</th>
                        <th scope="col">Fréquences en %</th>    
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stat of activeOngstat;let i=index" (click)="showCurrentsCharts(i)">
                        <td>
                            <span class="font-sm" *ngIf="stat.domaine"> {{stat.domaine.intitule}} </span>
                        </td>
                        <td>
                          <span class="font-sm"  *ngIf="stat"> {{stat.nbre_ong_association}} </span>
                        </td>
                        <td>
                            <span class="font-sm"  *ngIf="stat"> {{arrondi(stat.pourcentage)}}</span>
                        </td> 
                      </tr>
                    </tbody>
                  </table>
            </div>
         </div>
     </div>



     <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="activeOngstatByExperience && activeOngstatByExperience.length > 0">
      <div class="d-flex align-self-center">
        <h6>Resultat en fonction de l'experience</h6>
      </div>
    </div>

    <div class="tab-content">

      <div class="table-responsive">

             <table class="table table-striped mb-0" *ngIf="activeOngstatByExperience && activeOngstatByExperience.length >0">
               <thead>
                  <tr class="text-muted font-sm">
                    <th scope="col">Domaines d'intervention</th>
                    <th *ngFor="let headerProfil of activeOngstatByExperience[0].option" scope="col">{{headerProfil.optionName}}</th>
                  </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let statOption of activeOngstatByExperience">
                      <td>
                          <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                      </td>
                      <td *ngFor="let statData of statOption.option">
                        <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                      </td>
                    </tr>  
               </tbody>
             </table>
       </div>

     </div>

     
       <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="ongStatsByDomainStatus && ongStatsByDomainStatus.length > 0">
          <div class="d-flex align-self-center">
            <h6>Resultat en fonction du statut</h6>
          </div>
        </div>
  
        <div class="tab-content">
  
          <div class="table-responsive">
    
                 <table class="table table-striped mb-0" *ngIf="ongStatsByDomainStatus && ongStatsByDomainStatus.length >0">
                   <thead>
                      <tr class="text-muted font-sm">
                        <th scope="col">Domaines d'intervention</th>
                        <th *ngFor="let headerProfil of ongStatsByDomainStatus[0].option" scope="col">{{headerProfil.optionName}}</th>
                      </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let statOption of ongStatsByDomainStatus">
                          <td>
                              <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                          </td>
                          <td *ngFor="let statData of statOption.option">
                            <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                          </td>
                        </tr>  
                   </tbody>
                 </table>
           </div>
  
         </div>

         <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="activeOngstatByProfil && activeOngstatByProfil.length > 0">
          <div class="d-flex align-self-center">
            <h6>Resultat en fonction du profil</h6>
          </div>
        </div>
  
        <div class="tab-content">
  
          <div class="table-responsive">
    
                 <table class="table table-striped mb-0" *ngIf="activeOngstatByProfil && activeOngstatByProfil.length >0">
                   <thead>
                      <tr class="text-muted font-sm">
                        <th scope="col">Domaines d'intervention</th>
                        <th *ngFor="let headerProfil of activeOngstatByProfil[0].option" scope="col">{{headerProfil.optionName}}</th>
                       
                      </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let statOption of activeOngstatByProfil;let i = index">
                          <td>
                              <span class="font-sm" *ngIf="statOption">{{statOption.domaineName}}</span>
                          </td>
                          <td *ngFor="let statData of statOption.option">
                            <span class="font-sm"  *ngIf="statData">{{statData.nbreOption}}</span>
                          </td>
                        </tr>  
                   </tbody>
                 </table>
           </div>
  
         </div>



      <div style="height: 50px;"></div>

</div>

